{% extends '@CrosierLibBase/index.html.twig' %}




{% block page_content %}


    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-8">
                        <h3>Cancelamento Fiscal</h3>
                    </div>
                </div>
            </div>

            <div class="card-body">

                <div class="form-group row">
                    <label class="col-form-label col-sm-2 form-control-label">PV</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" disabled="true"
                               value="{{ "%06d"|format(venda.jsonData['pv']) }} de {{ venda.dtVenda|date("d/m/Y") }}. Vendedor: {{ item.jsonData['vendedor_nome']|default('') }}">
                    </div>
                </div>

                {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

                {{ form_start(form) }}

                {{ form_row(form._token) }}
                {{ form_row(form.id) }}

                {{ form_row(form.infoStatus) }}

                {{ form_row(form.motivoCancelamento) }}


                <div class="row">
                    <div class="col text-right">


                        {% if permiteCancelamento %}
                            <button type="button" value="Cancelar" class="btn btn-danger"
                                    data-form="nota_fiscal" data-target="#confirmationModal"
                                    data-toggle="modal">
                                <i class="fas fa-ban" aria-hidden="true"></i> Cancelar
                            </button>
                        {% endif %}

                        {% if permiteReimpressaoCancelamento %}
                            <button type="button" value="Reimprimir Cancelamento" class="btn btn-secondary"
                                    data-url="{{ url('fis_emissaofiscalpv_reimprimirCancelamento', {notaFiscal: notaFiscal.id, venda: venda.id}) }}"
                                    data-target="#confirmationModal" data-toggle="modal">
                                <i class="fas fa-print" aria-hidden="true"></i> Reimprimir Cancelamento
                            </button>
                        {% endif %}

                    </div>


                    {{ form_end(form, {'render_rest': false}) }}

                </div>
            </div>
        </div>
    </div>


{% endblock %}

