<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-12">
                <h4>Dados do Cliente</h4>
            </div>
        </div>
    </div>


    <div class="card-body">

        {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

        {{ form_start(form) }}
        {{ form_row(form._token) }}

        {{ form_row(form.infoStatus) }}

        {{ form_row(form.id) }}
        {{ form_row(form.tipoNotaFiscal) }}

        <div class="form-group row">
            <label for="nota_fiscal_documentoDestinatario" class="col-sm-2">CPF/CNPJ</label>
            <div class="col-sm-10">
                <div class="input-group">
                    {{ form_widget(form.documentoDestinatario) }}
                    <div class="input-group-append">
                        <button type="button" value="Consultar" class="btn btn-outline-info"
                                data-jsfunction="consultarCNPJDestinatario" id="btnConsultarDestinatario"
                                data-target="#confirmationModal" data-toggle="modal">
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        {{ form_row(form.xNomeDestinatario) }}

        {{ form_row(form.inscricaoEstadualDestinatario) }}

        {{ form_row(form.foneDestinatario) }}
        {{ form_row(form.emailDestinatario) }}

        {{ form_row(form.cepDestinatario) }}
        {{ form_row(form.logradouroDestinatario) }}
        {{ form_row(form.numeroDestinatario) }}
        {{ form_row(form.bairroDestinatario) }}
        {{ form_row(form.cidadeDestinatario) }}
        {{ form_row(form.estadoDestinatario) }}


        <div class="row">
            <div class="col text-right">

                {% if permiteFaturamento %}
                    <button type="button" value="Faturar" class="btn btn-primary"
                            data-form="nota_fiscal" data-target="#confirmationModal"
                            data-toggle="modal">
                        <i class="fas fa-file-invoice" aria-hidden="true"></i> Faturar
                    </button>

                    <a role="button" class="btn btn-outline-secondary" title="Corrigir NCMs"
                            data-form="nota_fiscal" data-target="#confirmationModal"
                            data-toggle="modal" data-url="{{ url('fis_emissaofiscalpv_corrigirNCMs', {'venda' : venda.id}) }}">
                        <i class="fas fa-highlighter"></i>
                    </a>
                {% endif %}

                {% if permiteReimpressao %}
                    {% if notaFiscal.tipoNotaFiscal == 'NFCE' %}

                        <button type="button" value="Imprimir" class="btn btn-success"
                                onclick="printJS('{{ url('fis_emissaonfe_imprimirDANFCE', {nfId: notaFiscal.id}) }}')"
                                id="btnImprimir">
                            <i class="fas fa-print" aria-hidden="true"></i> Imprimir
                        </button>

                    {% else %}

                        <button type="button" value="Reimprimir" class="btn btn-success"
                                onclick="printJS('{{ url('fis_emissaofiscalpv_reimprimir', {notaFiscal: notaFiscal.id, venda: venda.id}) }}')"
                                id="btnReimprimir">
                            <i class="fas fa-print" aria-hidden="true"></i> Reimprimir
                        </button>

                    {% endif %}
                {% endif %}


                {% if permiteCancelamento or permiteReimpressaoCancelamento %}
                    <button type="button" id="Cancelar" class="btn btn-warning"
                            onclick="window.location.assign('{{ url('fis_emissaofiscalpv_cancelarForm', {notaFiscal: notaFiscal.id, venda: venda.id}) }}')">
                        <i class="fas fa-ban" aria-hidden="true"></i> Cancelar
                    </button>
                {% endif %}

                {% if notaFiscal.id %}
                    <button type="button" value="Consultar Status" class="btn btn-secondary"
                            data-url="{{ url('fis_emissaofiscalpv_consultarStatus', {notaFiscal: notaFiscal.id, venda: venda.id}) }}"
                            data-target="#confirmationModal" data-toggle="modal">
                        <i class="fab fa-searchengin" aria-hidden="true"></i> Consultar Status
                    </button>
                {% endif %}

                <button type="button" value="Recarregar" class="btn btn-secondary"
                        data-url="{{ url('fis_emissaofiscalpv_form', {venda: venda.id}) }}"
                        data-target="#confirmationModal" data-toggle="modal">
                    <i class="fas fa-undo" aria-hidden="true"></i> Recarregar
                </button>

            </div>
        </div>


        {{ form_end(form, {'render_rest': false}) }}


    </div>
</div>

