<div class="tab-pane fade" id="transporte" role="tabpanel" aria-labelledby="transporte-tab">
    <div class="form-group row">
        <label class="col-form-label col-sm-2 form-control-label">Modalidade Frete</label>
        <div class="col-sm-10">
            <input type="text" id="inputModalidadeFrete" disabled="disabled" class="form-control" value="{{ form.transpModalidadeFrete.vars.value }}">
        </div>
    </div>

    {{ form_row(form.transpQtdeVolumes) }}
    {{ form_row(form.transpEspecieVolumes) }}
    {{ form_row(form.transpMarcaVolumes) }}
    {{ form_row(form.transpNumeracaoVolumes) }}
    {{ form_row(form.transpPesoBruto) }}
    {{ form_row(form.transpPesoLiquido) }}

    <div class="form-group row">
        {{ form_label(form.transpDocumento) }}
        <div class="col-sm-8">
            {{ form_errors(form.transpDocumento) }}
            {{ form_widget(form.transpDocumento) }}
            {{ form_help(form.transpDocumento) }}
        </div>
        <div class="col-sm-2 text-right">
            <button type="button" value="Consultar" class="btn btn-outline-info"
                    data-jsfunction="consultarTranspDocumento"
                    data-target="#confirmationModal" data-toggle="modal">
                <i class="fas fa-search" aria-hidden="true"></i> Consultar
            </button>
        </div>
    </div>

    {{ form_row(form.transpNome) }}
    {{ form_row(form.transpEndereco) }}
    {{ form_row(form.transpCidade) }}
    {{ form_row(form.transpEstado) }}

</div>
