<div class="tab-pane fade" id="itens" role="tabpanel" aria-labelledby="itens-tab">

    {% if notaFiscal.id %}
        <div class="card">
            <div class="card-header">

                <div class="row">
                    <div class="col-8">
                        <h5>Itens</h5>
                    </div>
                    <div class="col-4 text-right">
                        {% if permiteFaturamento %}
                            <button type="button" class="btn btn-primary"
                                    onclick="window.location.href='{{ url('fis_emissaonfe_formItem', {notaFiscal: notaFiscal.id} ) }}'">
                                <i class="fas fa-list-ul" aria-hidden="true"></i> Novo Item
                            </button>

                            {% if itemCopiado|default('') != '' %}
                                <button type="button" class="btn btn-outline-secondary btnColarNfItem"
                                        data-url="{{ url('fis_emissaonfe_colarNotaFiscalItem', {notaFiscal: notaFiscal.id}) }}"
                                        data-target="#confirmationModal" data-toggle="modal"
                                        title="Colar item">
                                    <i class="fas fa-paste"></i>
                                </button>
                            {% endif %}

                        {% endif %}
                    </div>
                </div>

            </div>

            <div class="card-body">

                <div class="table-responsive-sm">
                    <table class="table table-striped table-hover">

                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Código</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Unidade</th>
                            <th scope="col">NCM</th>
                            <th scope="col">CFOP</th>
                            <th scope="col">Qtde</th>
                            <th scope="col">Vlr Unit</th>
                            <th scope="col">Vlr Total</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for item in notaFiscal.itens %}
                            <tr>
                                <td>{{ item.ordem }}</td>
                                <td>{{ item.codigo }}</td>
                                <td>{{ item.descricao }}</td>
                                <td>{{ item.unidade }}</td>
                                <td>{{ item.ncm }}</td>
                                <td>{{ item.cfop }}</td>
                                <td>{{ item.qtde|number_format(2,',','.') }}</td>
                                <td>{{ item.valorUnit|number_format(2,',','.') }}</td>
                                <td>{{ item.valorTotal|number_format(2,',','.') }}</td>
                                <td class="text-right text-nowrap">

                                    <button type="button" class="btn btn-sm btn-outline-info btnCopiarNfItem"
                                            title="Copiar item"
                                            data-nfid="{{ notaFiscal.id }}"
                                            data-nfitemid="{{ item.id }}">
                                        <i class="far fa-copy"></i>
                                    </button>

                                    {% if permiteFaturamento %}
                                        <button type="button" class="btn btn-sm btn-primary"
                                                onclick="window.location.href='{{ url('fis_emissaonfe_formItem', {notaFiscal: notaFiscal.id, 'item':item.id} ) }}'">
                                            <i class="fas fa-wrench" aria-hidden="true"></i>
                                        </button>

                                        <button type="button" class="btn btn-sm btn-danger"
                                                data-url="{{ url('fis_emissaonfe_deleteItem', {'item': item.id}) }}"
                                                data-token="{{ csrf_token('delete') }}"
                                                data-target="#confirmationModal" data-toggle="modal">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>


                {{ form_row(form.subtotal) }}
                {{ form_row(form.totalDescontos) }}
                {{ form_row(form.valorTotal) }}

            </div>
        </div>
    {% endif %}

</div>
