<div class="tab-pane fade" id="transporte" role="tabpanel" aria-labelledby="transporte-tab">

    <div class="container" style="margin-bottom: 50px">

        <div class="form-group row">
            <label class="col-form-label col-sm-2 form-control-label">Modalidade Frete</label>
            <div class="col-sm-10">
                <input type="text" id="inputModalidadeFrete" disabled="disabled" class="form-control" value="{{ form.transpModalidadeFrete.vars.value }}">
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                {{ form_row(form.transpQtdeVolumes) }}
            </div>
            <div class="col-3">
                {{ form_row(form.transpEspecieVolumes) }}
            </div>
            <div class="col-4">
                {{ form_row(form.transpMarcaVolumes) }}
            </div>
            <div class="col-3">
                {{ form_row(form.transpNumeracaoVolumes) }}
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                {{ form_row(form.transpPesoBruto) }}
            </div>
            <div class="col-3">
                {{ form_row(form.transpPesoLiquido) }}
            </div>
            <div class="col-6">
            {{ form_row(form.transpValorTotalFrete) }}
            </div>
        </div>


        <div class="row">
            <div class="col-4">
                {{ form_row(form.transpDocumento) }}
            </div>

            <div class="col-2">
                <div class="form-group">
                    <label for="nota_fiscal_transpPesoBruto"></label>
                    <button type="button" value="Consultar" class="btn btn-block btn-outline-info mt-2"
                            data-jsfunction="consultarTranspDocumento"
                            data-target="#confirmationModal" data-toggle="modal">
                        <i class="fas fa-search" aria-hidden="true"></i> Consultar
                    </button>
                </div>
            </div>
            <div class="col-6">
                {{ form_row(form.transpNome) }}
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                {{ form_row(form.transpEndereco) }}
            </div>
            <div class="col-4">
                {{ form_row(form.transpCidade) }}
            </div>
            <div class="col-2">
                {{ form_row(form.transpEstado) }}
            </div>
        </div>



    </div>

</div>
