{% extends '@CrosierLibBase/index.html.twig' %}




{% block page_content %}

    <div class="container" style="margin-bottom: 50px">
        <div class="card">
            <div class="card-header">

                <div class="row">
                    <div class="col-8">
                        <h3>Item de NFe</h3>
                    </div>
                    <div class="col-4 text-right">
                        <button type="button" class="btn btn-secondary"
                                onclick="window.location.href='{{ url('fis_emissaonfe_form', {id: notaFiscal.id} ) }}'">
                            <i class="fas fa-arrow-left"></i> Voltar
                        </button>
                    </div>
                </div>

            </div>

            <div class="card-body">

                {% form_theme form 'bootstrap_4_layout.html.twig' %}

                {{ form_start(form) }}

                {{ form_widget(form._token) }}

                <div class="row">
                    <div class="col-sm-12 col-md-3">
                        {{ form_row(form.codigo) }}
                    </div>
                    <div class="col-sm-12 col-md-9">
                        {{ form_row(form.descricao) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-2">
                        {{ form_row(form.qtde) }}
                    </div>
                    <div class="col-sm-12 col-md-2">
                        {{ form_row(form.valor_unit) }}
                    </div>
                    <div class="col-sm-12 col-md-2">
                        {{ form_row(form.valor_desconto) }}
                    </div>
                    <div class="col-sm-12 col-md-3">
                        {{ form_row(form.sub_total) }}
                    </div>
                    <div class="col-sm-12 col-md-3">
                        {{ form_row(form.valor_total) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-3">
                        {{ form_row(form.unidade) }}
                    </div>

                    <div class="col-sm-12 col-md-4">
                        {{ form_row(form.cfop) }}
                    </div>
                    <div class="col-sm-12 col-md-5">
                        {{ form_row(form.ncm) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        {{ form_row(form.cest) }}
                    </div>
                    <div class="col-sm-12 col-md-4">
                        {{ form_row(form.cst) }}
                    </div>
                    <div class="col-sm-12 col-md-4">
                        {{ form_row(form.csosn) }}
                    </div>
                </div>

                <fieldset class="border p-2 mb-3">
                    <legend class="w-auto p-2">ICMS</legend>
                    <div class="row">
                        <div class="col-sm-12 col-md-3">
                            {{ form_row(form.icmsValor) }}
                        </div>
                        <div class="col-sm-12 col-md-3">
                            {{ form_row(form.icmsModBC) }}
                        </div>
                        <div class="col-sm-12 col-md-3">
                            {{ form_row(form.icmsAliquota) }}
                        </div>
                        <div class="col-sm-12 col-md-3">
                            {{ form_row(form.icmsValorBc) }}
                        </div>
                    </div>
                </fieldset>

                <fieldset class="border p-2 mb-3">
                    <legend class="w-auto p-2">PIS</legend>
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            {{ form_row(form.pisValor) }}
                        </div>
                        <div class="col-sm-12 col-md-4">
                            {{ form_row(form.pisAliquota) }}
                        </div>
                        <div class="col-sm-12 col-md-4">
                            {{ form_row(form.pisValorBc) }}
                        </div>
                    </div>
                </fieldset>

                <fieldset class="border p-2 mb-3">
                    <legend class="w-auto p-2">COFINS</legend>
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            {{ form_row(form.cofinsValor) }}
                        </div>
                        <div class="col-sm-12 col-md-4">
                            {{ form_row(form.cofinsAliquota) }}
                        </div>
                        <div class="col-sm-12 col-md-4">
                            {{ form_row(form.cofinsValorBc) }}
                        </div>
                    </div>
                </fieldset>

                {% if permiteFaturamento %}
                <div class="row">
                    <div class="col text-right">
                        <button type="submit" class="btn btn-primary" value="Salvar">
                            <i class="fas fa-save" aria-hidden="true"></i> Salvar
                        </button>
                    </div>
                </div>
                {% endif %}


                {{ form_end(form, {'render_rest': true}) }}


            </div>
        </div>

    </div>


{% endblock %}


{% block down_scripts %}
    {{ encore_entry_script_tags('Fiscal/emissaoNFe/formItem') }}
{% endblock %}
