<div class="tab-pane fade show active" id="cabecalho" role="tabpanel" aria-labelledby="cabecalho-tab">

    <div class="container" style="margin-bottom: 50px">


        <div style="display: none">
            {{ form_row(form.id) }}
            {{ form_row(form._token) }}
            {{ form_row(form.tipoNotaFiscal) }}
        </div>


        <div class="row">
            <div class="col-12">
                {{ form_row(form.documentoEmitente) }}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {{ form_row(form.infoStatus) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-3">
                {{ form_row(form.numero) }}
            </div>
            <div class="col-sm-12 col-md-2">
                {{ form_row(form.serie) }}
            </div>
            <div class="col-sm-12 col-md-7">
                {{ form_row(form.uuid) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-7">
                {{ form_row(form.chaveAcesso) }}
            </div>
            <div class="col-sm-12 col-md-5">
                {{ form_row(form.protocoloAutorizacao) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                {{ form_row(form.naturezaOperacao) }}
            </div>
            <div class="col-sm-12 col-md-3">
                {{ form_row(form.dtEmissao) }}
            </div>
            <div class="col-sm-12 col-md-3">
                {{ form_row(form.dtSaiEnt) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-8">
                {{ form_row(form.finalidadeNf) }}
            </div>
            <div class="col-sm-12 col-md-4">
                {{ form_row(form.entradaSaida) }}
            </div>
        </div>


        <fieldset class="border p-2 mb-3">
            <legend class="w-auto p-2">Destinatário</legend>


            <div class="row">

                <div class="col-sm-12 col-md-3">

                    <div class="form-group">
                        <label for="nota_fiscal_documentoDestinatario">CPF/CNPJ</label>
                        <div class="input-group">
                            {{ form_widget(form.documentoDestinatario) }}
                            <div class="input-group-append">
                                <button type="button" value="Consultar" class="btn btn-outline-info"
                                        data-jsfunction="consultarCNPJDestinatario" id="btnConsultarDestinatario"
                                        data-target="#confirmationModal" data-toggle="modal">
                                    <i class="fas fa-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-12 col-md-6">
                    {{ form_row(form.xNomeDestinatario) }}
                </div>
                <div class="col-sm-12 col-md-3">
                    {{ form_row(form.inscricaoEstadualDestinatario) }}
                </div>

            </div>


            <div class="row">
                <div class="col-sm-12 col-md-4">
                    {{ form_row(form.logradouroDestinatario) }}
                </div>
                <div class="col-sm-12 col-md-2">
                    {{ form_row(form.numeroDestinatario) }}
                </div>
                <div class="col-sm-12 col-md-2">
                    {{ form_row(form.complementoDestinatario) }}
                </div>
                <div class="col-sm-12 col-md-2">
                    {{ form_row(form.bairroDestinatario) }}
                </div>
                <div class="col-sm-12 col-md-2">

                    <label for="nota_fiscal_cepDestinatario">CEP</label>
                    <div class="input-group">
                        {{ form_widget(form.cepDestinatario) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-3">
                    {{ form_row(form.foneDestinatario) }}
                </div>
                <div class="col-sm-12 col-md-3">
                    {{ form_row(form.emailDestinatario) }}
                </div>
                <div class="col-sm-12 col-md-4">
                    {{ form_row(form.cidadeDestinatario) }}
                </div>
                <div class="col-sm-12 col-md-2">
                    {{ form_row(form.estadoDestinatario) }}
                </div>
            </div>

        </fieldset>


        <div class="row">
            <div class="col-sm-12 col-md-3">
                {{ form_row(form.transpModalidadeFrete) }}
            </div>
            <div class="col-sm-12 col-md-3">
                {{ form_row(form.indicadorFormaPagto) }}
            </div>
            <div class="col-sm-12 col-md-6">
                {{ form_row(form.a03idNfReferenciada) }}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {{ form_row(form.infoCompl) }}
            </div>
        </div>


    </div>


</div>

