{% extends '@CrosierLibBase/list.html.twig' %}

{% block campos_pesquisar %}

    <div class="form-group">
        <label for="filter[numero]">Número</label>
        <input type="text" min="1"
               class="form-control" id="filter[numero]"
               name="filter[numero]"
               value="{{ filter.numero|default('') }}">
    </div>

    <div class="form-group">
        <label for="filter[xNomeDestinatario]">Destinatário</label>
        <input type="text"
               class="form-control" id="filter[xNomeDestinatario]"
               name="filter[xNomeDestinatario]"
               value="{{ filter.xNomeDestinatario|default('') }}">
    </div>

    <div class="form-group">
        <label for="filter[serie]">Série</label>
        <input type="text"
               class="form-control" id="filter[serie]"
               name="filter[serie]"
               value="{{ filter.serie|default('') }}">
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-sm">
                <label for="filter[dtEmissao][i]">Dt Emissão</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <input type="date"
                       size="15" class="form-control" name="filter[dtEmissao][i]"
                       value="{{ filter.dtEmissao.i|default('') }}">
            </div>
            <div class="col-sm-6">
                <input type="date"
                       size="15" class="form-control"
                       name="filter[dtEmissao][f]"
                       value="{{ filter.dtEmissao.f|default('') }}">
            </div>
        </div>
    </div>



{% endblock %}

{% block down_scripts %}
    {{ encore_entry_script_tags('Fiscal/emissaoNFe/list') }}
{% endblock %}

