{% extends '@CrosierLibBase/index.html.twig' %}


{% block page_content %}


    <div class="card">
        <div class="card-header">


            <div class="d-flex flex-wrap align-items-center">

                <div class="d-sm-flex text-nowrap mr-1">
                    <h3 class="text-dark">Vendas</h3>
                </div>

                <div class="d-sm-flex ml-auto">
                </div>
            </div>


        </div>

        <div class="card-body">

            <form name="form_vendasPorDia_list" id="form_vendasPorDia_list">

                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label for="filter_ecommerce_idPedido" class="required">Id E-commerce</label>
                            <input type="text" id="filter_ecommerce_idPedido" name="filter[ecommerce_idPedido]"
                                   class="form-control"
                                   value="{{ filter['ecommerce_idPedido']|default('') }}">
                        </div>
                    </div>

                    <div class="col-md-5 col-sm-12">
                        <div class="form-group">
                            <label for="filter_cliente_nome" class="required">Cliente</label>
                            <input type="text" id="filter_cliente_nome" name="filter[cliente_nome]"
                                   class="form-control"
                                   value="{{ filter['cliente_nome']|default('') }}">
                        </div>
                    </div>
                </div>
                
                <div class="row">

                    <div class="col-md-5 col-sm-12">
                        <div class="form-group">
                            <label for="filter_dtsVenda" class="required">Dt Venda</label>
                            <input type="text" id="filter_dtsVenda" name="filter[dtsVenda]"
                                   data-mask="00/00/0000 - 00/00/0000"
                                   style="text-align: center"
                                   class="form-control"
                                   value="{{ filter['dtsVenda'] }}">
                        </div>
                    </div>

                    <div class="col-md-5 col-sm-12">
                        <div class="form-group">
                            <label for="filter_statusECommerce" class="required">Status E-commerce</label>
                            <select id="filter_statusECommerce" name="filter[statusECommerce][]"
                                    data-tagsoptions="{{ statusECommerce }}" data-tags="true" data-token-separators=","
                                    class="form-control autoSelect2" multiple
                                    data-val="{{ filter['statusECommerce']|default('')|join(',') }}">
                            </select>
                        </div>
                    </div>

                    <div class="col-md-1 col-sm-12 text-right">
                        <div class="mt-4">
                            <button type="submit" class="btn btn-primary btn-block" id="btnFiltrar">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-12 text-right">
                        <div class="mt-4">
                            <a role="button" class="btn btn-secondary btn-block" id="btnRecarregar"
                               href="{{ url(listRoute, {'r':1}) }}">
                                <i class="fas fa-redo-alt"></i>
                            </a>
                        </div>
                    </div>

                </div>
            </form>


            <div class="table-responsive-sm">

                <table class="table table-sm table-striped table-hover crsr-datatable" id="vendasPorDia_table">

                    <thead>
                    <tr>
                        <th scope="col">Id E-commerce</th>
                        <th scope="col">Id</th>
                        <th scope="col">NF</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Status</th>
                        <th scope="col">Pagto</th>
                        <th scope="col">Dt Venda</th>
                        <th scope="col">Valor Frete</th>
                        <th scope="col">Valor Total</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for dia in dados.dias %}
                        <tr class="table-primary">
                            <th scope="row" colspan="99">
                                <h5>{{ dia.dtVenda|date('d/m/Y') }}</h5>
                            </th>
                        </tr>
                        {% for venda in dia.vendas %}

                            <tr>
                                <td>{{ venda.jsonData.ecommerce_idPedido|default('0')|strpad(9) }}</td>
                                <td>{{ venda.id|strpad(9) }}</td>
                                <td>
                                    {% if venda.notaFiscal|default(false) %}
                                        {{ venda.notaFiscal.numero|strpad(6) }}/{{ venda.notaFiscal.serie }}
                                    {% endif %}
                                </td>
                                <td>{{ venda.cliente.documento|default('')|mascararCnpjCpf }}
                                    - {{ venda.cliente.nome }}</td>
                                <td class="text-center">
                                    <span class="badge badge-primary"
                                          style="background-color: {{ coresStatus.status[venda.jsonData.ecommerce_status_descricao|default('Não finalizado')].cor|default('') }}">
                                        {{ venda.jsonData.ecommerce_status_descricao|default('') }}
                                    </span>

                                </td>
                                <td>{{ venda.jsonData.infoPagtos|default('') }}</td>
                                <td class="text-center">{{ venda.dtVenda|date('d/m/Y H:i:s') }}</td>
                                <td class="text-right">
                                    {% set valorFrete = venda.jsonData.ecommerce_entrega_frete_real|default(false) ? venda.jsonData.ecommerce_entrega_frete_real : venda.jsonData.ecommerce_entrega_frete_calculado|default('0') %}
                                    R$ {{ valorFrete|number_format(2,',','.') }}
                                </td>
                                <td class="text-right">
                                    R$ {{ venda.valorTotal|number_format(2,',','.') }}
                                </td>
                                <td class="text-right">
                                    <a class="btn btn-sm btn-success"
                                       href="{{ url('ven_venda_ecommerceForm', {'id':venda.id}) }}"
                                       role="button" title="Visualizar venda">
                                        <i class="far fa-file-alt"></i>
                                    </a>
                                </td>
                            </tr>

                        {% endfor %}

                        <tr class="table-secondary">
                            <th scope="row" colspan="8" class="text-right">
                                Total dia (R$):
                            </th>
                            <td class="text-right">{{ dia.totalDia|number_format(2,',','.') }}</td>
                            <td class="text-right">
                                {% if ecomm_info_integra %}
                                    <button type="button" class="btn btn-sm btn-warning" id="btnObterVendasEcommerce"
                                            data-url="{{ url('ven_venda_obterVendasEcommerce') ~ '/' ~ dia.dtVenda|date('Y-m-d') }}"
                                            data-target="#confirmationModal" data-toggle="modal"
                                            title="Obter vendas do e-commerce">
                                        <i class="fas fa-cloud-download-alt"></i>
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    
                    <tfoot>
                    <tr class="table-secondary">
                        <th scope="row" colspan="8" class="text-right">
                            Total Geral (R$):
                        </th>
                        <td class="text-right">{{ dados.totalGeral|number_format(2,',','.') }}</td>
                        <td class="text-right">
                        </td>
                    </tr>
                    </tfoot>
                    
                    

                </table>
            </div>


        </div>
    </div>


{% endblock %}


{% block down_scripts %}
    {{ encore_entry_script_tags('Vendas/ven_venda_listVendasPorDiaComEcommerce') }}
{% endblock %}
