{% extends '@CrosierLibBase/index.html.twig' %}

{% block up_scripts %}

    <style>
        .select2-search__field {
            text-transform: uppercase;
        }
    </style>
{% endblock %}

{% block page_content %}


    <div class="container">
        <div class="card">
            <div class="card-header">

                <div class="row">
                    <div class="col-8">
                        <h3>Pré-Venda</h3>
                        {% if (e.id|default(false)) %}
                            <h6>{{ e.id|strpad(9) }} - {{ e.jsonData.cliente_nome|default('') }}</h6>
                        {% endif %}
                    </div>
                    <div class="col-4 text-right">

                        <a type="button" class="btn btn-info"
                           href="{{ url(formRoute, formRouteParams|default([])) }}" title="Novo">
                            <i class="fas fa-file" aria-hidden="true"></i>
                        </a>

                        <a role="button" class="btn btn-outline-secondary" href="{{ url(listRoute) }}"
                           title="Listar">
                            <i class="fas fa-list"></i>
                        </a>

                        {% if e.id %}
                            <button type="button" class="btn btn-outline-warning"
                                    data-url="{{ url('ven_venda_clonar', {'venda': e.id}) }}"
                                    data-token="{{ csrf_token('ven_venda_clonar') }}" title="Clonar"
                                    data-target="#confirmationModal" data-toggle="modal">
                                <i class="fas fa-copy"></i>
                            </button>
                        {% endif %}

                    </div>
                </div>

            </div>

            <div class="card-body">

                {% include 'Vendas/venda_form_botoes.html.twig' %}


                <div class="row">
                    <div class="col-md-2 col-sm-12">
                        <div class="form-group">
                            <label for="venda_id" class="required">Id</label>
                            <input type="number" id="venda_id" name="venda[id]" readonly="readonly"
                                   class="form-control disabled" value="{{ e.id }}">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label for="venda_dtVenda" class="required">Dt Venda</label>
                            <input type="text" id="venda_dtVenda" name="venda[dtVenda]" readonly="readonly"
                                   class="crsr-datetime form-control disabled" value="{{ e.dtVenda|date('d/m/Y H:i:s') }}" maxlength="19"></div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label for="venda_status">Status</label>
                            <input type="text" id="venda_status" readonly="readonly" class="form-control disabled" value="{{ e.status }}">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label class="" for="venda_jsonData_canal">Canal</label>
                            <input type="text" id="venda_status" readonly="readonly" class="form-control disabled" value="{{ e.jsonData.canal|default('') }}">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label class="" for="venda_vendedor">Vendedor</label>
                            <input type="text" id="venda_status" readonly="readonly" class="form-control disabled" value="{{ e.vendedor.nome }}">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="venda_jsonData_obs">Obs</label>
                    <textarea id="venda_jsonData_obs" readonly="readonly" class="form-control disabled" style="">{{ e.jsonData.obs|default('') }}</textarea>
                </div>

                <div class="row">
                    <div class="col-md-2 col-sm-12">
                        <div class="form-group">
                            <label for="venda_jsonData_cliente_documento">CPF/CNPJ</label>
                            <input type="text" id="venda_jsonData_cliente_documento" readonly="readonly"
                                   class="cpfCnpj form-control disabled" value="{{ e.jsonData['cliente_documento'] }}">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="venda_jsonData_cliente_nome">Nome/Razão Social</label>
                            <input type="text" class="form-control disabled" id="cliente_nome"
                                   readonly="readonly"
                                   value="{{ e.jsonData['cliente_nome'] }}"
                                   data-select2-id="cliente_nome">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label for="venda_jsonData_cliente_fone">Fone</label>
                            <input type="text" id="venda_jsonData_cliente_fone"
                                   readonly="readonly"
                                   class="telefone form-control disabled" value="{{ e.jsonData['cliente_fone']|default('') }}">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="form-group"><label for="venda_jsonData_cliente_email">E-mail</label>
                            <input type="text" id="venda_jsonData_cliente_email"
                                   readonly="readonly"
                                   class="email form-control disabled" value="{{ e.jsonData['cliente_email']|default('') }}">
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header">

                        <div class="row">
                            <div class="col-8">
                                <h5>Itens</h5>
                            </div>
                        </div>

                    </div>

                    <div class="card-body">

                        <div class="table-responsive-sm">
                            <table class="table table-sm table-striped table-hover">

                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Produto</th>
                                    <th scope="col">Qtde</th>
                                    <th scope="col">Vlr Unit</th>
                                    <th scope="col">Desc</th>
                                    <th scope="col">Total</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for item in e.itens %}
                                    <tr>
                                        <td data-vendaitemid="{{ item.id }}"
                                            title="{{ item.id }}">{{ loop.index }}</td>
                                        <td>
                                            {{ item.produto.codigo|default(0)|strpad(13) }}
                                            - {{ item.descricao }}
                                        </td>
                                        <td class="text-right">{{ item.qtde|number_format(item.unidade.casasDecimais,',','.') }} {{ item.unidade.label }}</td>
                                        <td class="text-right">{{ item.precoVenda|number_format(2,',','.') }}</td>
                                        <td class="text-right">{{ item.desconto|number_format(2,',','.') }}</td>
                                        <td class="text-right">{{ item.total|number_format(2,',','.') }}</td>

                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-form-label col-sm-4" for="venda_subtotal">Subtotal</label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">R$ </span>
                                            </div>
                                            <input type="text" id="venda_subtotal" disabled
                                                   value="{{ e.subtotal|number_format(2,',','.') }}"
                                                   readonly="readonly" class="crsr-money form-control disabled">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-form-label col-sm-4" for="venda_desconto">Desconto</label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">R$ </span>
                                            </div>
                                            <input type="text" id="venda_desconto" disabled
                                                   value="{{ e.desconto|number_format(2,',','.') }}"
                                                   readonly="readonly" class="crsr-money form-control disabled">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-form-label col-sm-4" for="venda_valorTotal">Valor Total</label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">R$ </span>
                                            </div>
                                            <input type="text" id="venda_valorTotal" disabled
                                                   value="{{ e.valorTotal|number_format(2,',','.') }}"
                                                   readonly="readonly" class="crsr-money form-control disabled">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="card">
                    <div class="card-header">

                        <div class="row">
                            <div class="col-8">
                                <h5>Pagamentos</h5>
                            </div>
                        </div>

                    </div>

                    <div class="card-body" style="background-color: ivory">

                        <div class="table-responsive-sm">
                            <table class="table table-sm table-striped table-hover">

                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Forma de Pagamento</th>
                                    <th scope="col">Valor</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for pagto in e.pagtos %}
                                    <tr>
                                        <td data-vendapagtoid="{{ pagto.id }}"
                                            title="{{ pagto.id }}">{{ loop.index }}</td>
                                        <td>
                                            <strong>{{ pagto.planoPagto.descricao }}</strong> {{ pagto.jsonData.num_parcelas|default(false) ? (' em ' ~ pagto.jsonData.num_parcelas ~ ' parcela(s)') : '' }}<br/>
                                            {{ pagto.carteira.getDescricaoMontada()|default('') }}


                                        </td>
                                        <td class="text-right">{{ pagto.valorPagto|number_format(2,',','.') }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>
                        </div>

                    </div>

                </div>


                <div class="row mt-3">
                    <div class="col text-right">

                        {% if e.status == 'PV ABERTO' %}
                            <button type="button" class="btn btn-success"
                                    data-url="{{ url('ven_venda_finalizarPV', {'venda': e.id}) }}"
                                    data-token="{{ csrf_token('ven_venda_finalizarPV') }}"
                                    data-target="#confirmationModal" data-toggle="modal">
                                <i class="far fa-check-circle"></i> Finalizar PV
                            </button>
                        {% endif %}

                        {% if e.status == 'PV FINALIZADO' %}
                            <button type="button" value="Imprimir" class="btn btn-outline-success"
                                    onclick="printJS('{{ url('ven_venda_imprimirPV', {'venda': e.id}) }}')"
                                    id="btnImprimirPV">
                                <i class="fas fa-print" aria-hidden="true"></i> Imprimir
                            </button>

                            <a role="button" title="Visualizar Fatura" class="btn btn-outline-success"
                               href="{{ url('fin_fatura_visualizarFatura', {'fatura': e.jsonData.fatura_id}) }}"
                               id="btnVisualizarFatura">
                                <i class="fas fa-file-invoice-dollar"></i> Fatura
                            </a>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>





{% endblock %}


{% block down_scripts %}
    {{ encore_entry_script_tags('Vendas/venda_form_resumo') }}
{% endblock %}
