{% extends '@CrosierLibBase/index.html.twig' %}


{% block page_content %}


    <div class="container">
        <div class="card">
            <div class="card-header">

                <div class="row">
                    <div class="col-8">
                        <h3>Venda</h3>
                        <h6>E-commerce</h6>
                    </div>
                </div>

            </div>

            <div class="card-body">

                {% form_theme form 'bootstrap_4_layout.html.twig' %}

                {{ form_start(form) }}
                {{ form_widget(form._token) }}

                <span class="d-none">
                    {{ form_row(form.cliente) }}
                    {{ form_row(form.vendedor) }}
                </span>

                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        {{ form_row(form.id) }}
                    </div>
                    <div class="col-md-4 col-sm-12">
                        {{ form_row(form.dtVenda) }}
                    </div>
                    <div class="col-md-5 col-sm-12">
                        {{ form_row(form.jsonData.ecommerce_status) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7 col-sm-12">

                        <div class="form-group">
                            <label class="" for="venda_cliente">Cliente</label>
                            <input type="text" class="form-control" disabled value="{{ e.cliente.documento|mascararCnpjCpf }} - {{ e.cliente.nome }}">
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        {{ form_row(form.planoPagto) }}
                    </div>
                </div>

                <div class="form-group">
                    <fieldset class="form-group">
                        <legend>Entrega</legend>

                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                {{ form_row(form.jsonData['ecommerce_entrega_logradouro']) }}
                            </div>
                            <div class="col-md-2 col-sm-2">
                                {{ form_row(form.jsonData['ecommerce_entrega_numero']) }}
                            </div>
                            <div class="col-md-4 col-sm-4">
                                {{ form_row(form.jsonData['ecommerce_entrega_complemento']) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 col-sm-6">
                                {{ form_row(form.jsonData['ecommerce_entrega_bairro']) }}
                            </div>
                            <div class="col-md-2 col-sm-2">
                                {{ form_row(form.jsonData['ecommerce_entrega_cep']) }}
                            </div>
                            <div class="col-md-5 col-sm-4">
                                {{ form_row(form.jsonData['ecommerce_entrega_cidade']) }}
                            </div>
                            <div class="col-md-3 col-sm-4">
                                {{ form_row(form.jsonData['ecommerce_entrega_uf']) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6">

                            </div>
                            <div class="col-md-3 col-sm-3">
                                {{ form_row(form.jsonData['ecommerce_entrega_frete_calculado']) }}
                            </div>
                            <div class="col-md-3 col-sm-3">
                                {{ form_row(form.jsonData['ecommerce_entrega_frete_real']) }}
                            </div>
                        </div>

                    </fieldset>
                </div>


                <div class="row mb-3">
                    <div class="col text-right">
                        <button type="submit" class="btn btn-primary" value="Salvar">
                            <i class="fas fa-save" aria-hidden="true"></i> Salvar
                        </button>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header">

                        <div class="row">
                            <div class="col-8">
                                <h5>Itens</h5>
                            </div>
                        </div>

                    </div>

                    <div class="card-body">

                        <div class="table-responsive-sm">
                            <table class="table table-sm table-striped table-hover">

                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Produto</th>
                                    <th scope="col">Qtde</th>
                                    <th scope="col">Vlr Unit</th>
                                    <th scope="col">Desc</th>
                                    <th scope="col">Total</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for item in e.itens %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ item.id|strpad(9) }}{{ item.descricao }}</td>
                                        <td class="text-right">{{ item.qtde|number_format(2,',','.') }}</td>
                                        <td class="text-right">{{ item.precoVenda|number_format(2,',','.') }}</td>
                                        <td class="text-right">{{ item.desconto|number_format(2,',','.') }}</td>
                                        <td class="text-right">{{ item.total|number_format(2,',','.') }}</td>

                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>
                        </div>


                        {{ form_row(form.jsonData['obs']) }}

                        <div class="row">
                            <div class="col-md-8 col-sm-12">
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-form-label col-sm-4" for="nota_fiscal_subtotal">Subtotal</label>
                                    <div class="col-sm-8">
                                        {{ form_widget(form.subtotal) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-sm-12">
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-form-label col-sm-4" for="nota_fiscal_subtotal">Descontos</label>
                                    <div class="col-sm-8">
                                        {{ form_widget(form.desconto) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-sm-12">
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-form-label col-sm-4" for="nota_fiscal_subtotal">Valor Total</label>
                                    <div class="col-sm-8">
                                        {{ form_widget(form.valorTotal) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                {{ form_end(form, {'render_rest': false}) }}


            </div>
        </div>
    </div>





{% endblock %}


{% block down_scripts %}
    {{ encore_entry_script_tags('Vendas/venda_form') }}
{% endblock %}