{% extends '@CrosierLibBase/index.html.twig' %}


{% block page_content %}


    <div class="container">
        <div class="card">
            <div class="card-header">

                <div class="row">
                    <div class="col-4">
                        <h3>Venda</h3>
                        <h6>E-commerce</h6>
                    </div>
                    <div class="col-8 text-right">

                        <a role="button" class="btn btn-outline-secondary" href="{{ url(listRoute) }}"
                           title="Listar">
                            <i class="fas fa-list"></i>
                        </a>

                        {% if e.id %}
                            <button type="button" class="btn btn-secondary"
                                    data-url="{{ url('ven_venda_clonar', {'venda': e.id}) }}"
                                    data-token="{{ csrf_token('ven_venda_clonar') }}"
                                    data-target="#confirmationModal" data-toggle="modal"
                                    title="Clonar">
                                <i class="fas fa-copy"></i>
                            </button>
                        {% endif %}

                    </div>
                </div>

            </div>

            <div class="card-body">

                {% form_theme form 'bootstrap_4_layout.html.twig' %}

                {{ form_start(form) }}
                {{ form_widget(form._token) }}


                <div class="row">
                    <div class="col-md-2 col-sm-12">
                        {{ form_row(form.id) }}
                    </div>
                    <div class="col-md-2 col-sm-12">
                        {{ form_row(form.jsonData['ecommerce_idPedido']) }}
                    </div>
                    <div class="col-md-3 col-sm-12">
                        {{ form_row(form.dtVenda) }}
                    </div>
                    <div class="col-md-5 col-sm-12">
                        {{ form_row(form.jsonData.ecommerce_status) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12">

                        <div class="form-group">
                            <label class="" for="venda_cliente">Cliente</label>
                            <input type="text" class="form-control" disabled id="venda_cliente"
                                   value="{{ e.cliente.documento|mascararCnpjCpf }} - {{ e.cliente.nome }}">
                        </div>
                    </div>

                </div>

                {% if e.jsonData.ecommerce_entrega_retirarNaLoja|default(0) == 1 %}
                    <div class="alert alert-warning" role="alert">
                        <i class="fas fa-exclamation-circle"></i> Entrega na loja.
                    </div>
                {% else %}
                    <div class="form-group">
                        <fieldset class="form-group">
                            <legend>Entrega</legend>

                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    {{ form_row(form.jsonData['ecommerce_entrega_logradouro']) }}
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    {{ form_row(form.jsonData['ecommerce_entrega_numero']) }}
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    {{ form_row(form.jsonData['ecommerce_entrega_complemento']) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2 col-sm-6">
                                    {{ form_row(form.jsonData['ecommerce_entrega_bairro']) }}
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    {{ form_row(form.jsonData['ecommerce_entrega_cep']) }}
                                </div>
                                <div class="col-md-5 col-sm-4">
                                    {{ form_row(form.jsonData['ecommerce_entrega_cidade']) }}
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    {{ form_row(form.jsonData['ecommerce_entrega_uf']) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-sm-6">

                                </div>
                                <div class="col-md-3 col-sm-3">
                                    {{ form_row(form.jsonData['ecommerce_entrega_frete_calculado']) }}
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    {{ form_row(form.jsonData['ecommerce_entrega_frete_real']) }}
                                </div>
                            </div>

                        </fieldset>
                    </div>
                {% endif %}


                {{ form_row(form.jsonData['obs']) }}

                <div class="row">
                    <div class="col-md-8 col-sm-12">
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4" for="nota_fiscal_subtotal">Subtotal</label>
                            <div class="col-sm-8">
                                {{ form_widget(form.subtotal) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4" for="nota_fiscal_subtotal">Descontos</label>
                            <div class="col-sm-8">
                                {{ form_widget(form.desconto) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4" for="nota_fiscal_subtotal">Valor
                                Total</label>
                            <div class="col-sm-8">
                                {{ form_widget(form.valorTotal) }}
                            </div>
                        </div>
                    </div>
                </div>

                {% if e.jsonData.ecommerce_entrega_frete_calculado|default(false) %}
                    <div class="row">
                        <div class="col-md-8 col-sm-12">
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4" for="totalComFrete">Total + Frete</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">R$ </span>
                                        </div>
                                        <input type="text" id="totalComFrete" class="crsr-money form-control disabled" disabled="disabled"
                                               value="{{ (e.valorTotal + e.jsonData.ecommerce_entrega_frete_calculado)|default(0)|number_format(2,',','.') }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}


                <div class="d-none">
                    {{ form_widget(form) }}
                </div>


                <div class="row mb-3">
                    <div class="col text-right">
                        <button type="submit" class="btn btn-primary" value="Salvar">
                            <i class="fas fa-save" aria-hidden="true"></i> Salvar
                        </button>

                        {% if notaFiscalVendaId|default(false) %}
                            <a role="button" class="btn btn-warning"
                               href="/v/fis/notaFiscal/form?id={{ notaFiscalVendaId }}">
                                <i class="fas fa-file-invoice" aria-hidden="true"></i> Nota Fiscal
                            </a>
                        {% else %}
                            <button type="button" value="Nota Fiscal" class="btn btn-warning"
                                    data-url="{{ url('ven_venda_gerarNotaFiscalEcommerce', {'venda': e.id}) }}"
                                    data-target="#confirmationModal"
                                    data-toggle="modal">
                                <i class="fas fa-file-invoice" aria-hidden="true"></i> Nota Fiscal
                            </button>
                        {% endif %}

                        {% if permiteFinalizarVenda|default(false) %}
                            <button type="button" class="btn btn-success"
                                    data-url="{{ url('ven_venda_finalizarPV', {'venda': e.id}) }}"
                                    data-token="{{ csrf_token('ven_venda_finalizarPV') }}"
                                    data-target="#confirmationModal" data-toggle="modal">
                                <i class="far fa-check-circle"></i> Finalizar PV
                            </button>
                        {% endif %}


                        {% if e.status == 'PV FINALIZADO' %}
                            <button type="button" value="Imprimir" class="btn btn-outline-success"
                                    onclick="printJS('{{ url('ven_venda_imprimirPV', {'venda': e.id}) }}')"
                                    id="btnImprimirPV">
                                <i class="fas fa-print" aria-hidden="true"></i> Imprimir
                            </button>

                            <a role="button" title="Visualizar Fatura" class="btn btn-outline-success"
                               href="{{ url('fin_fatura_visualizarFatura', {'fatura': e.jsonData.fatura_id}) }}"
                               id="btnVisualizarFatura">
                                <i class="fas fa-file-invoice-dollar"></i> Fatura
                            </a>
                        {% endif %}
                        
                    </div>
                </div>

                {{ form_end(form, {'render_rest': false}) }}


                


                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-8">
                                <h5>Itens</h5>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive-sm">
                            <table class="table table-sm table-striped table-hover">

                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Id</th>
                                    <th scope="col">Código</th>
                                    <th scope="col">Descrição</th>
                                    <th scope="col">Qtde</th>
                                    <th scope="col">Vlr Unit</th>
                                    <th scope="col">Desc</th>
                                    <th scope="col">Total</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for item in e.itens %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ item.produto.id|strpad(9) }}</td>
                                        <td>{{ item.produto.codigo|default(0) }}</td>
                                        <td>
                                            <div class="float-left">
                                                {{ item.descricao }}
                                                {% if item.jsonData.obs|default(false) %}
                                                    <br><small class="text-muted">{{ item.jsonData.obs }}</small>
                                                {% endif %}
                                            </div>
                                            <div class="float-right">
                                                <a href="{{ url('est_produto_form', {'id':item.produto.id}) }}" target="_blank">
                                                    <i class="fas fa-external-link-alt"></i>
                                                </a>
                                            </div>
                                        </td>
                                        <td class="text-right">{{ item.qtde|number_format(2,',','.') }}</td>
                                        <td class="text-right">{{ item.precoVenda|number_format(2,',','.') }}</td>
                                        <td class="text-right">{{ item.desconto|number_format(2,',','.') }}</td>
                                        <td class="text-right">{{ item.total|number_format(2,',','.') }}</td>
                                        <td class="text-right">

                                            {% if e.status == 'PV ABERTO' %}
                                            
                                            <button type="button"
                                                    class="btn btn-sm btn-primary btnEditProduto"
                                                    data-item-id="{{ item.id }}"
                                                    data-item-produto-id="{{ item.produto.id|default('') }}"
                                                    data-item-produto-nome="{{ item.produto.nome|default('') }}"
                                                    data-item-unidade-id="{{ item.unidade.id|default('') }}"
                                                    data-item-unidade-label="{{ item.unidade.label|default('') }}"
                                                    data-item-unidade-casas-decimais="{{ item.unidade.casasDecimais|default('') }}"
                                                    data-item-devolucao="{{ item.devolucao|default('') }}"
                                                    data-item-qtde="{{ item.qtde|default('') }}"
                                                    data-item-preco-venda="{{ item.precoVenda|default('') }}"
                                                    data-item-desconto="{{ item.desconto|number_format(2,',','.') }}"
                                                    data-item-obs="{{ item.jsonData.obs|default('') }}">
                                                <i class="fas fa-wrench" aria-hidden="true"></i>
                                            </button>
                                            
                                            <button type="button" class="btn btn-sm btn-danger"
                                                    data-url="{{ url('ven_venda_deleteItem', {'item': item.id}) }}?ecommerceForm=true"
                                                    data-token="{{ csrf_token('ven_venda_deleteItem') }}"
                                                    data-target="#confirmationModal"
                                                    data-toggle="modal" title="Remover item">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </button>      
                                            
                                            {% endif %}
                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        {% if e.status == 'PV ABERTO' %}
                            <form method="POST" action="/ven/venda/saveItemEcommerce/{{ e.id }}" id="formItem">

                                <div class="row">
                                    <div class="col-md-2 col-sm-12">
                                        <div class="form-group">
                                            <label for="item_qtde">Qtde</label>
                                            <div class="input-group">
                                                <input type="text" id="item_qtde" name="item[qtde]" required
                                                       class="form-control" value="1">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"
                                                          id="item_unidade_append_label">...</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            <label for="item_produto">Produto</label>
                                            <input type="hidden" id="item_id" name="item[id]">
                                            <select id="item_produto" name="item[produto]" required
                                                    class="form-control {{ e.id ? 'focusOnReady' : '' }}">
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="item_obs">Obs.:</label>
                                            <input type="text" id="item_obs" name="item[obs]" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group">
                                            <label for="item_precoVenda">Preço Venda</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">R$</span>
                                                </div>
                                                <input type="text" id="item_precoVenda" name="item[precoVenda]"
                                                       class="crsr-money form-control">
                                            </div>
                                            <small id="item_precoVenda_help" class="form-text text-muted"></small>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group">
                                            <label for="item_desconto">Desconto</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">R$</span>
                                                </div>
                                                <input type="text" id="item_desconto" name="item[desconto]"
                                                       class="crsr-money form-control" data-allow-negative="true">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group">
                                            <label for="item_valorTotal">Total Item</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">R$</span>
                                                </div>
                                                <input type="text" id="item_valorTotal" name="item[valorTotal]"
                                                       readonly="readonly" class="crsr-money form-control disabled">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-12 d-flex">
                                        <div class="form-group ml-auto">
                                            <label for="btnSalvarItemGroup">&nbsp;</label>
                                            <div class="input-group text-right">
                                                <div class="btn-group" role="group" id="btnSalvarItemGroup">
                                                    <button type="submit" class="btn btn-outline-primary"
                                                            id="btnInserirItem" value="Inserir">
                                                        <i class="fas fa-save" aria-hidden="true"></i> Inserir item
                                                    </button>

                                                    <button type="button"
                                                            onclick="window.location = '/ven/venda/ecommerceForm/{{ e.id }}'"
                                                            class="btn btn-outline-warning"
                                                            id="btnRecarregar" value="Recarregar">
                                                        <i class="fas fa-sync-alt"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        {% endif %}


                    </div>
                </div>


            </div>
        </div>
    </div>





{% endblock %}


{% block down_scripts %}
    {{ encore_entry_script_tags('Vendas/venda_ecommerceForm') }}
{% endblock %}