{% set url = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

<div class="row">
    <div class="col-md-3 col-sm-12">
        <a role="button" id="aDados" href="{{ url('ven_venda_form_dados', {'id':e.id|default('')}) }}"
           class="btn btn-{{ 'dados' in url ? '' : 'outline-' }}primary btn-sm btn-block">
            <i class="far fa-file"></i> 1 - Dados
        </a>
    </div>
    <div class="col-md-3 col-sm-12">
        {% if (e.id|default(false)) %}
            <a role="button" id="aItens" href="{{ url('ven_venda_form_itens', {'id':e.id|default('')}) }}"
               class="btn btn-{{ 'itens' in url ? '' : 'outline-' }}primary btn-sm btn-block">
                <i class="far fa-file-alt"></i> 2 - Itens
            </a>
        {% else %}
            <button type="button" id="aItens" class="btn btn-outline-secondary btn-sm btn-block disabled">
                <i class="far fa-file-alt"></i> 2 - Itens
            </button>
        {% endif %}
    </div>
    <div class="col-md-3 col-sm-12">
        {% if (e.id|default(false)) %}
            <a role="button" id="aPagto" href="{{ url('ven_venda_form_pagto', {'id':e.id|default('')}) }}"
               class="btn btn-{{ 'pagto' in url ? '' : 'outline-' }}primary btn-sm btn-block">
                <i class="fas fa-file-invoice-dollar"></i> 3 - Pagamento
            </a>
        {% else %}
            <button type="button" id="aPagto" class="btn btn-outline-secondary btn-sm btn-block disabled">
                <i class="fas fa-file-invoice-dollar"></i> 3 - Pagamento
            </button>
        {% endif %}
    </div>
    <div class="col-md-3 col-sm-12">
        {% if (e.id|default(false)) %}
            <a role="button" id="aResumo" href="{{ url('ven_venda_form_resumo', {'id':e.id|default('')}) }}"
               class="btn btn-{{ 'resumo' in url ? '' : 'outline-' }}success btn-sm btn-block">
                <i class="fas fa-file-invoice-dollar"></i> 4 - Resumo
            </a>
        {% else %}
            <button type="button" id="aResumo" class="btn btn-outline-secondary btn-sm btn-block disabled">
                <i class="fas fa-file-invoice-dollar"></i> 4 - Resumo
            </button>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr>
    </div>
</div>