{% extends '@CrosierLibBase/index.html.twig' %}

{% block up_scripts %}

    <style>
        .select2-search__field {
            text-transform: uppercase;
        }
    </style>
{% endblock %}

{% block page_content %}


    <div class="container">
        <div class="card">
            <div class="card-header">

                <div class="row">
                    <div class="col-8">
                        <h3>Pré-Venda</h3>
                        <h6>{{ e.id|strpad(9) }} - {{ e.jsonData.cliente_nome|default('') }}</h6>
                    </div>
                    <div class="col-4 text-right">

                        <a type="button" class="btn btn-info"
                           href="{{ url('ven_venda_form_dados', {'id': e.id}) }}" title="Novo">
                            <i class="fas fa-file" aria-hidden="true"></i>
                        </a>

                        <a role="button" class="btn btn-outline-secondary" href="{{ url(listRoute) }}"
                           title="Listar">
                            <i class="fas fa-list"></i>
                        </a>

                        {% if e.id %}
                            <button type="button" class="btn btn-outline-warning"
                                    data-url="{{ url('ven_venda_clonar', {'venda': e.id}) }}"
                                    data-token="{{ csrf_token('ven_venda_clonar') }}" title="Clonar"
                                    data-target="#confirmationModal" data-toggle="modal">
                                <i class="fas fa-copy"></i>
                            </button>
                        {% endif %}

                    </div>
                </div>

            </div>

            <div class="card-body">

                {% include 'Vendas/venda_form_botoes.html.twig' %}


                <div class="card">
                    <div class="card-header">

                        <div class="row">
                            <div class="col-8">
                                <h5>Itens</h5>
                            </div>
                        </div>

                    </div>

                    <div class="card-body">

                        {% if e.status == 'PV ABERTO' %}
                            <form method="POST" action="{{ url('ven_venda_saveItem', {'venda': e.id}) }}" id="formItem">

                                <input type="hidden" id="venda_canal" value="{{ e.jsonData.canal|default('VAREJO') }}">

                                <div class="row">

                                    <div class="col-md-2 col-sm-12">
                                        <div class="form-group">
                                            <label for="item_qtde">Qtde</label>
                                            <div class="input-group">
                                                <input type="text" id="item_qtde" name="item[qtde]" required
                                                       class="{{ classPadraoQtde }} form-control" value="1">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"
                                                          id="item_unidade_append_label">...</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            <label for="item_produto">Produto</label>
                                            <input type="hidden" id="item_id" name="item[id]">
                                            <select id="item_produto" name="item[produto]" required
                                                    class="form-control {{ e.id ? 'focusOnReady' : '' }}">
                                            </select>
                                        </div>
                                    </div>

                                </div>


                                <div class="row">

                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group">
                                            <label for="item_unidade">Unidade</label>
                                            <select id="item_unidade" autocomplete="off"
                                                    name="item[unidade]" required
                                                    class="form-control"
                                                    data-options="{{ unidades|default('{}') }}"
                                                    aria-hidden="true">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-12">
                                        <div class="form-group text-right">
                                            <label for="item_devolucao"> </label>


                                            <div class="custom-control custom-switch mt-2">
                                                <input type="checkbox" class="custom-control-input"
                                                       name="item[devolucao]" id="item_devolucao">
                                                <label class="custom-control-label"
                                                       for="item_devolucao">Devolução</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-7">
                                        <div class="form-group">
                                            <label for="item_obs">Obs.:</label>
                                            <input type="text" id="item_obs" name="item[obs]" class="form-control">
                                        </div>
                                    </div>
                                </div>


                                <div class="row">


                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group">
                                            <label for="item_precoVenda">Preço Venda</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">R$</span>
                                                </div>
                                                <input type="text" id="item_precoVenda" name="item[precoVenda]"
                                                       class="crsr-money form-control">
                                            </div>
                                            <small id="item_precoVenda_help" class="form-text text-muted"></small>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group">
                                            <label for="item_desconto">Desconto</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">R$</span>
                                                </div>
                                                <input type="text" id="item_desconto" name="item[desconto]"
                                                       class="crsr-money form-control" data-allow-negative="true">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group">
                                            <label for="item_valorTotal">Total Item</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">R$</span>
                                                </div>
                                                <input type="text" id="item_valorTotal" name="item[valorTotal]"
                                                       readonly="readonly" class="crsr-money form-control disabled">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-3 col-sm-12 d-flex">
                                        <div class="form-group ml-auto">
                                            <label for="btnSalvarItemGroup">&nbsp;</label>
                                            <div class="input-group text-right">
                                                <div class="btn-group" role="group" id="btnSalvarItemGroup">
                                                    <button type="submit" class="btn btn-outline-primary"
                                                            id="btnInserirItem" value="Inserir">
                                                        <i class="fas fa-save" aria-hidden="true"></i> Inserir item
                                                    </button>

                                                    <button type="button"
                                                            onclick="window.location = '{{ url('ven_venda_form_itens', {'id': e.id}) }}'"
                                                            class="btn btn-outline-warning"
                                                            id="btnRecarregar" value="Recarregar">
                                                        <i class="fas fa-sync-alt"></i>
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </form>
                        {% endif %}

                        <div class="table-responsive-sm">
                            <table class="table table-sm table-striped table-hover">

                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Produto</th>
                                    <th scope="col">Qtde</th>
                                    <th scope="col">Vlr Unit</th>
                                    <th scope="col">Desc</th>
                                    <th scope="col">Total</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>

                                <tbody id="tbodySortableItens">
                                {% for item in e.itens %}
                                    <tr data-id="{{ item.id|strpad(9) }}">
                                        <td id="ordem" data-vendaitemid="{{ item.id }}"
                                            title="{{ item.id }}">{{ item.ordem }}</td>
                                        <td>
                                            <div class="float-left">
                                                {{ item.produto.codigo|default(0)|strpad(13) }}
                                                - {{ item.descricao }}
                                                {% if item.jsonData.obs|default(false) %}
                                                    <br><small class="text-muted">{{ item.jsonData.obs }}</small>
                                                {% endif %}
                                            </div>
                                            <div class="float-right">
                                                <a href="{{ url('est_produto_form', {'id':item.produto.id}) }}" target="_blank">
                                                    <i class="fas fa-external-link-alt"></i>
                                                </a>
                                            </div>
                                        </td>
                                        <td class="text-right">{{ item.qtde|number_format(item.unidade.casasDecimais,',','.') }} {{ item.unidade.label }}</td>
                                        <td class="text-right">{{ item.precoVenda|number_format(2,',','.') }}</td>
                                        <td class="text-right">{{ item.desconto|number_format(2,',','.') }}</td>
                                        <td class="text-right">{{ item.total|number_format(2,',','.') }}</td>
                                        <td class="text-right">
                                            {% if e.status == 'PV ABERTO' %}

                                                <button type="button"
                                                        class="btn btn-sm btn-primary btnEditProduto"
                                                        data-item-id="{{ item.id }}"
                                                        data-item-produto-id="{{ item.produto.id|default('') }}"
                                                        data-item-produto-nome="{{ item.produto.nome|default('') }}"
                                                        data-item-unidade-id="{{ item.unidade.id|default('') }}"
                                                        data-item-unidade-label="{{ item.unidade.label|default('') }}"
                                                        data-item-unidade-casas-decimais="{{ item.unidade.casasDecimais|default('') }}"
                                                        data-item-devolucao="{{ item.devolucao|default('') }}"
                                                        data-item-qtde="{{ item.qtde|default('') }}"
                                                        data-item-preco-venda="{{ item.precoVenda|default('') }}"
                                                        data-item-desconto="{{ item.desconto|number_format(2,',','.') }}"
                                                        data-item-obs="{{ item.jsonData.obs|default('') }}">
                                                    <i class="fas fa-wrench" aria-hidden="true"></i>
                                                </button>

                                                <button type="button" class="btn btn-sm btn-danger"
                                                        data-url="{{ url('ven_venda_deleteItem', {'item': item.id}) }}"
                                                        data-token="{{ csrf_token('ven_venda_deleteItem') }}"
                                                        data-target="#confirmationModal"
                                                        data-toggle="modal">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>

                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>





                <div class="row">
                    <div class="col-md-6 col-sm-12">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4" for="venda_subtotal">Subtotal</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">R$ </span>
                                    </div>
                                    <input type="text" id="venda_subtotal" disabled
                                           value="{{ e.subtotal|number_format(2,',','.') }}"
                                           readonly="readonly" class="crsr-money form-control disabled">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4" for="venda_desconto">Desconto</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">R$ </span>
                                    </div>
                                    <input type="text" id="venda_desconto" name="venda_desconto"
                                           readonly="readonly" disabled="disabled"
                                           value="{{ e.desconto|number_format(2,',','.') }}"
                                           class="crsr-money form-control disabled">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4" for="venda_valorTotal">Valor Total</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">R$ </span>
                                    </div>
                                    <input type="text" id="venda_valorTotal" disabled
                                           value="{{ e.valorTotal|number_format(2,',','.') }}"
                                           readonly="readonly" class="crsr-money form-control disabled">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>





{% endblock %}


{% block down_scripts %}
    {{ encore_entry_script_tags('Vendas/venda_form_itens') }}
{% endblock %}
