{% extends '@CrosierLibBase/index.html.twig' %}


{% block page_content %}


    <div class="card">
        <div class="card-header">


            <div class="d-flex flex-wrap align-items-center">

                <div class="d-sm-flex text-nowrap mr-1">
                    <h3 class="text-dark">Vendas</h3>
                </div>

                <div class="d-sm-flex ml-auto">
                </div>
            </div>


        </div>

        <div class="card-body">

            <form name="form_vendasPorDia_list" id="form_vendasPorDia_list">
                <div class="row">

                    <div class="col-md-2 col-sm-12">
                        <div class="form-group">
                            <label for="filter_dtsVenda" class="required">Dt Venda</label>
                            <input type="text" id="filter_dtsVenda" name="filter[dtsVenda]"
                                   data-mask="00/00/0000 - 00/00/0000"
                                   style="text-align: center"
                                   class="form-control"
                                   value="{{ filter['dtsVenda'] }}">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <div class="form-group">
                            <label for="filter_canal" class="required">Canal</label>
                            <select id="filter_canal" name="filter[canal]"
                                    data-options="{{ canais }}"
                                    class="form-control autoSelect2"
                                    data-val="{{ filter['canal']|default('') }}">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <div class="form-group">
                            <label for="filter_status" class="required">Status</label>
                            <select id="filter_status" name="filter[status]"
                                    data-options="{{ statuss }}"
                                    class="form-control autoSelect2"
                                    data-val="{{ filter['status']|default('') }}">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label for="filter_statusECommerce" class="required">Status E-commerce</label>
                            <select id="filter_statusECommerce" name="filter[statusECommerce]"
                                    data-options="{{ statusECommerce }}"
                                    class="form-control autoSelect2"
                                    data-val="{{ filter['statusECommerce']|default('') }}">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <div class="form-group">
                            <label for="filter_vendedor" class="required">Vendedor</label>
                            <select id="filter_vendedor" name="filter[vendedor]"
                                    data-options="{{ vendedores }}"
                                    class="form-control autoSelect2"
                                    data-val="{{ filter['vendedor']|default('') }}">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-12 text-right">
                        <div class="mt-4">
                            <button type="submit" class="btn btn-primary" id="btnFiltrar">
                                <i class="fas fa-search"></i>
                            </button>

                            <a role="button" class="btn btn-secondary" id="btnRecarregar"
                               href="{{ url(listRoute, {'r':1}) }}">
                                <i class="fas fa-redo-alt"></i>
                            </a>
                        </div>

                    </div>

                </div>
            </form>


            <div class="table-responsive-sm">

                <table class="table table-sm table-striped table-hover crsr-datatable" id="vendasPorDia_table">

                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Vendedor<br/>Plano Pagto</th>
                        <th scope="col">Status</th>
                        <th scope="col">Valor Total</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for dia in dados %}
                        <tr class="table-primary">
                            <th scope="row" colspan="99">
                                <h5>{{ dia.dtVenda|date('d/m/Y') }}</h5>
                            </th>
                        </tr>
                        {% for venda in dia.vendas %}

                            <tr>
                                <td>
                                    {{ venda.id|strpad(9) }}
                                </td>
                                <td>
                                    <div style="float: left">
                                        {{ venda.cliente.documento|default('')|mascararCnpjCpf }}
                                        - {{ venda.cliente.nome|default('') }}
                                    </div>
                                    <div class="text-right">
                                        {% if venda.jsonData.canal|default('') == 'LOJA FÍSICA' %}
                                            <span class="badge badge-pill badge-info">
                                            <i class="fas fa-store"></i> {{ venda.jsonData.vendedor|default('') }}
                                        </span>
                                        {% else %}
                                            <span class="badge badge-pill badge-success">
                                                <i class="fas fa-bezier-curve"></i> {{ venda.jsonData.canal|default('') }}
                                            </span>
                                            <br><span style="font-size: small">E-commerce Id: <b>{{ venda.jsonData.ecommerce_idPedido|default(0)|strpad(9) }}</b></span>
                                        {% endif %}
                                    </div>
                                </td>
                                <td>
                                    <div class="float-left">
                                        {{ venda.jsonData.vendedor_nome|default('') }}
                                    </div>
                                </td>
                                <td class="text-center">
                                    {{ venda.jsonData.canal == 'LOJA FÍSICA' ? (venda.status|default('') ~ '<br/>')|raw : '' }}
                                    {{ venda.jsonData.ecommerce_status|default('') }}
                                </td>
                                <td class="text-right">
                                    R$ {{ venda.valorTotal|number_format(2,',','.') }}
                                </td>
                                <td class="text-right">
                                    {% if venda.jsonData.canal == 'LOJA FÍSICA' %}
                                        <a class="btn btn-sm btn-primary"
                                           href="{{ url('ven_venda_form_dados', {'id':venda.id}) }}"
                                           role="button" title="Visualizar venda">
                                            <i class="far fa-file-alt"></i>
                                        </a>
                                    {% else %}
                                        <a class="btn btn-sm btn-success"
                                           href="{{ url('ven_venda_ecommerceForm', {'id':venda.id}) }}"
                                           role="button" title="Visualizar venda">
                                            <i class="far fa-file-alt"></i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>

                        {% endfor %}

                        <tr class="table-secondary">
                            <th scope="row" colspan="4" class="text-right">
                                Total dia (R$):
                            </th>
                            <td class="text-right">{{ dia.totalDia|number_format(2,',','.') }}</td>
                            <td class="text-right">
                                {% if ecomm_info_integra %}
                                    <button type="button" class="btn btn-sm btn-warning" id="btnObterVendasECommerce"
                                            data-url="{{ url('ven_venda_obterVendasECommerce') ~ '/' ~ dia.dtVenda|date('Y-m-d') }}"
                                            data-target="#confirmationModal" data-toggle="modal"
                                            title="Obter vendas do e-commerce">
                                        <i class="fas fa-cloud-download-alt"></i>
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>

                </table>
            </div>


        </div>
    </div>


{% endblock %}


{% block down_scripts %}
    {{ encore_entry_script_tags('Vendas/ven_venda_listVendasPorDiaComEcommerce') }}
{% endblock %}
