{% extends '@CrosierLibBase/index.html.twig' %}




{% block page_content %}

    <div class="container" style="margin-bottom: 50px">
        <div class="card">
            <div class="card-header">

                <div class="d-flex flex-wrap align-items-center">

                    <div class="mr-1">
                        <h3>Categorias</h3>
                    </div>

                    <div class="d-sm-flex flex-nowrap ml-auto">
                    </div>
                </div>


            </div>

            <div class="card-body">

                <div class="container" style="margin-bottom: 50px">

                    <div class="list-group">
                        {% for item in dados %}
                            <div class="list-group-item">

                                <div class="text-left"
                                     style="float:left; padding-left: {{ ((item.codigo|length) * 20) ~ 'px' }}">
                                    {{ item.codigoM }} - {{ item.descricao }}
                                </div>

                                <div class="text-right">
                                    <a role="button" class="btn btn-sm btn-primary"
                                       href="{{ url('categoria_form', {'id' : item.id}) }}">
                                        <i class="fas fa-wrench" aria-hidden="true"></i>
                                    </a>

                                </div>

                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>

    </div>



{% endblock %}


{% block down_scripts %}
    <script src="{{ asset('build/fin/categoriaTreeList.js') }}"></script>
{% endblock %}