{% extends '@CrosierLibBase/index.html.twig' %}




{% block page_content %}

    <div class="container">
        <div class="card">
            <div class="card-header">

                <div class="row">
                    <div class="col-8">
                        <h3>Fatura de Venda</h3>
                        <h6>{{ venda.dtVenda|date('d/m/Y') }} - {{ venda.jsonData.cliente_nome|default('') }}</h6>
                    </div>
                    <div class="col-4 text-right">
                        <a role="button" class="btn btn-outline-secondary" href="{{ url('carteira_list') }}"
                           title="Listar">
                            <i class="fas fa-list" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>

            </div>

            <div class="card-body">

                <div class="table-responsive-sm">

                    <form action="{{ url('fin_fatura_visualizarFaturaVenda', {'fatura': e.id}) }}">
                        <table class="table table-sm table-striped table-hover crsr-datatable">

                            <thead>

                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Carteira<br/>Modo</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">Dt Vencto</th>
                                <th scope="col">Valor Total</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for mov in e.movimentacoes %}
                                <tr>
                                    <td>
                                        {{ mov.id }}
                                    </td>
                                    <td>
                                        {{ mov.carteira.getDescricaoMontada() }}<br>
                                        {{ mov.modo.descricaoMontada }}
                                    </td>
                                    <td>
                                        <b>{{ mov.descricao }}</b><br/>
                                    </td>
                                    <td>
                                        {{ mov.dtVencto|date('d/m/Y') }}
                                    </td>
                                    <td class="text-right"
                                        style="color: white; background-color: {{ mov.categoria.codigoSuper == 1 ? 'dodgerblue' : 'indianred' }}">
                                        {{ mov.valorTotal|number_format(2,',','.') }}
                                    </td>
                                    <td class="text-right">
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>

                        </table>
                    </form>
                </div>


            </div>
        </div>
    </div>





{% endblock %}


