{% extends '@CrosierLibBase/index.html.twig' %}




{% block page_content %}

    <div class="container">
        <div class="card">
            <div class="card-header">

                <div class="row">
                    <div class="col-8">
                        <h3>Fatura</h3>
                        <h6>Movimentações</h6>
                    </div>
                    
                </div>

            </div>

            <div class="card-body">

                <div class="table-responsive-sm">

                    <form action="{{ url('fin_fatura_visualizarFatura', {'fatura': e.id}) }}">
                        <table class="table table-sm table-striped table-hover crsr-datatable">

                            <thead>

                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Carteira<br/>Modo<br/>Categoria</th>
                                <th scope="col">Descrição<br/><small>Sacado/Cedente</small></th>
                                <th scope="col">Dt Vencto</th>
                                <th scope="col">Valor Total</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for mov in movs %}
                                <tr>
                                    <td>
                                        {{ mov.id }}
                                    </td>
                                    <td>
                                        {{ mov.carteira.getDescricaoMontada() }}<br>
                                        {{ mov.modo.getDescricaoMontada() }}<br/>
                                        <b>{{ mov.categoria.getDescricaoMontada() }}</b>
                                    </td>
                                    <td>
                                        <b>{{ mov.getDescricaoMontada()|raw }}</b>
                                        {% if mov.sacado %}
                                            <br/><small>Sacado: <b>{{ mov.sacado }}</b></small>
                                        {% endif %}
                                        {% if mov.cedente %}
                                            <br/><small>Cedente: <b>{{ mov.cedente }}</b></small>
                                        {% endif %}
                                        {% if mov.obs %}
                                            <br/><span style="font-size: 9px; color: grey;">{{ mov.obs }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ mov.dtVencto|date('d/m/Y') }}
                                    </td>
                                    <td class="text-right"
                                        style="color: white; background-color: {{ mov.categoria.codigoSuper == 1 ? 'dodgerblue' : 'indianred' }}">
                                        {{ mov.valorTotal|number_format(2,',','.') }}
                                    </td>
                                    <td class="text-right">

                                        <a role="button" class="btn btn-sm btn-primary"
                                                href="/v/fin/movimentacao/aPagarReceber/form?id={{ mov.id }}">
                                            <i class="fas fa-wrench" aria-hidden="true"></i>
                                        </a>
                                        
                                        <br/>
                                        <span class="badge badge-secondary">{{ mov.updated|date('d/m/Y H:i:s') }}</span>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>

                            <tfoot>

                            <tr class="mt-3">
                                <th scope="col">Total Fatura</th>
                                <th scope="col" colspan="4" class="text-right">{{ total|number_format(2,',','.') }}</th>
                                <th scope="col"></th>
                            </tr>
                            </tfoot>

                        </table>
                    </form>
                </div>


            </div>
        </div>
    </div>





{% endblock %}


