{% extends '@CrosierLibBase/index.html.twig' %}




{% block page_content %}

    <div class="container" style="margin-bottom: 50px">
        <div class="card">

            <div class="card-header">

                <div class="row">
                    <div class="col-8">
                        <h3>Movimentação Agrupada</h3>
                    </div>
                    <div class="col-4 text-right">

                        <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top"
                                title="Novo registro"
                                onclick="window.location.href='{{ url('movimentacaoForm_ini') }}'">
                            <i class="fas fa-file" aria-hidden="true"></i> Novo
                        </button>

                        <button type="button" class="btn btn-secondary"
                                onclick="window.location.href='{{ url('grupoItem_listMovs', {'grupoItem':e.grupoItem.id}) }}'">
                            <i class="fas fa-sync" aria-hidden="true"></i> Listar
                        </button>

                        {% if e.id %}
                            <button type="button" class="btn btn-danger"
                                    data-url="{{ url('movimentacao_delete', {id: e.id}) }}"
                                    data-token="{{ csrf_token('delete') }}"
                                    data-target="#confirmationModal" data-toggle="modal">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        {% endif %}

                    </div>
                </div>

            </div>

            <div class="card-body">

                {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

                {{ form_start(form) }}

                {{ form_row(form._token) }}

                {{ form_row(form.id) }}

                {{ form_row(form.grupoItem) }}

                <div style="display:none">
                    {{ form_row(form.tipoLancto) }}
                    {{ form_row(form.modo) }}
                    {{ form_row(form.carteira) }}
                </div>




                <div class="row">
                    <div class="col">
                    </div>
                </div>

                <div style="margin-top: 20px"></div>

                {{ form_row(form.categoria) }}
                {{ form_row(form.centroCusto) }}
                {{ form_row(form.status) }}

                {{ form_row(form.dtMoviment) }}

                {{ form_row(form.cedente) }}

                {{ form_row(form.descricao) }}


                {{ form_row(form.valor) }}


                <div style="margin-top: 20px" class="row">
                    <div class="col">
                        {{ form_row(form.obs) }}
                    </div>
                </div>


                <div style="margin-top: 20px" class="row">
                    <div class="col text-right">
                        <button type="submit" class="btn btn-primary" value="Salvar">
                            <i class="fas fa-save" aria-hidden="true"></i> Salvar
                        </button>
                    </div>
                </div>


                {{ form_end(form, {'render_rest': false}) }}


            </div>


        </div>
    </div>

{% endblock %}


{% block down_scripts %}
    <script src="{{ asset('build/Financeiro/movimentacaoForm_grupo.js') }}"></script>
{% endblock %}