{% extends '@CrosierLibBase/index.html.twig' %}




{% block page_content %}


    <div class="card">
        <div class="card-header">

            <div class="row">
                <div class="col-4">
                    <h3>Cadeia de Movimentações</h3>
                </div>
                <div class="col text-right">
                    <button type="button" class="btn btn-danger"
                            data-url="{{ url('cadeia_delete', {'cadeia': cadeia.id}) }}"
                            data-token="{{ csrf_token('delete') }}"
                            data-target="#confirmationModal" data-toggle="modal">
                        <i class="fa fa-trash" aria-hidden="true"></i> Deletar
                    </button>
                </div>
            </div>

        </div>

        <div class="card-body">

            <div class="table-responsive-sm">

                <table class="table table-sm table-striped table-hover crsr-datatable">

                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">
                            Categoria<br/>
                            Modo<br/>
                            Carteira
                        </th>
                        <th scope="col">Descrição</th>
                        <th scope="col">
                            Dt Vencto<br/>Dt Pagto
                        </th>
                        <th scope="col">Valor Total</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for item in cadeia.movimentacoes %}
                        <tr>
                            <td>
                                {{ item.id }}
                                <br/>
                                <span class="badge badge-pill badge-light">{{ loop.index }}</span>
                            </td>
                            <td>
                                {{ item.categoria.descricaoMontada }}<br/>
                                {{ item.modo.descricaoMontada }}<br/>
                                <b>{{ item.carteira.getDescricaoMontada() }}</b><br/>
                            </td>
                            <td>
                                <div style="float: left">
                                    <b>{{ item.descricaoMontada|raw }}</b>
                                    {% if item.cedenteInfo %}
                                        <br/>{{ item.cedenteInfo }}
                                    {% endif %}
                                </div>

                                <div class="text-right">

                                    {% if (item.chequeNumCheque) %}
                                        <span class="badge badge-pill badge-danger">Cheque</span><br/>
                                    {% endif %}


                                    {% if (item.recorrente) %}

                                        <span class="badge badge-pill badge-info">Recorrente</span><br/>

                                    {% elseif (item.parcelamento) %}

                                        <span class="badge badge-pill badge-info">Parcelamento</span>
                                        <a href="{{ url('movimentacao_listCadeia', {'cadeia': item.cadeia.id}) }}"
                                           class="btn btn-sm btn-outline-secondary"
                                           role="button" target="_blank" aria-pressed="true"><i
                                                    class="fas fa-ellipsis-h" aria-hidden="true"></i></a><br/>

                                    {% elseif (item.cadeia) %}
                                        <span class="badge badge-pill badge-info">Em cadeia</span>
                                        <a href="{{ url('movimentacao_listCadeia', {'cadeia': item.cadeia.id}) }}"
                                           class="btn btn-sm btn-outline-secondary"
                                           role="button" target="_blank" aria-pressed="true"><i
                                                    class="fas fa-ellipsis-h" aria-hidden="true"></i></a><br/>

                                    {% endif %}

                                    {% if (item.transferenciaEntreCarteiras and item.movimentacaoOposta and item.movimentacaoOposta.categoria) %}
                                        <span class="badge badge-pill badge-light">
                                            {{ (item.movimentacaoOposta.categoria.codigo == 199 ? '<i class="fas fa-sign-out-alt"></i> Para: ' : '<i class="fas fa-sign-in-alt"></i> De: ') }}
                                            {{ item.movimentacaoOposta.carteira.getDescricaoMontada() }} </span>
                                    {% endif %}
                                </div>

                            </td>
                            <td>
                                        <span title="Dt Vencto: {{ item.dtVencto|date('d/m/Y') }}">
                                            {{ item.dtVenctoEfetiva|date('d/m/Y') }}
                                        </span>
                            </td>
                            <td class="text-right"
                                style="color: white; background-color: {{ item.categoria.codigoSuper == 1 ? 'dodgerblue' : 'indianred' }}">
                                {{ item.valorTotal|number_format(2,',','.') }}
                            </td>
                            <td class="text-right">

                                {% if item.status == 'ABERTA' %}
                                    <a class="btn btn-sm btn-outline-danger"
                                       href="{{ url('movimentacao_form_pagto', {'id':item.id}) }}"
                                       role="button" title="Registro de Pagamento">
                                        <i class="fas fa-dollar-sign"></i>
                                    </a>
                                {% endif %}


                                <button type="button" class="btn btn-sm btn-primary"
                                        onclick="window.location.href='{{ url('movimentacao_edit', {id: item.id}) }}'">
                                    <i class="fas fa-wrench" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-danger"
                                        data-url="{{ url('movimentacao_delete', {id: item.id}) }}"
                                        data-token="{{ csrf_token('delete') }}"
                                        data-target="#confirmationModal" data-toggle="modal">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                                <br/>
                                <span class="badge badge-secondary">{{ item.updated|date('d/m/Y H:i:s') }}</span>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr style="background-color: lightgrey">
                        <th scope="row" colspan="4" class="text-right">
                            Total:
                        </th>
                        <td class="text-right">R$ {{ total|abs|number_format(2,',','.') }}</td>
                        <td></td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>


{% endblock %}

