{% extends '@CrosierLibBase/index.html.twig' %}




{% block page_content %}

    <div class="container" style="margin-bottom: 50px">
        <div class="card">
            <div class="card-header">

                <div class="row">
                    <div class="col-8">
                        <h3>Movimentacao a Pagar/Receber</h3>
                    </div>
                    <div class="col-4 text-right">

                        {% if e.id %}
                            <button type="button" class="btn btn-danger"
                                    data-url="{{ url('movimentacao_delete', {id: e.id}) }}"
                                    data-token="{{ csrf_token('delete') }}"
                                    data-target="#confirmationModal" data-toggle="modal">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        {% endif %}

                    </div>
                </div>

            </div>

            <div class="card-body">

                {% form_theme form 'bootstrap_4_layout.html.twig' %}

                {{ form_start(form) }}

                {{ form_row(form._token) }}
                {{ form_row(form.status) }}

                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        {{ form_row(form.modo) }}
                    </div>

                    <div class="col-md-8 col-sm-12">
                        {{ form_row(form.carteira) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        {{ form_row(form.sacado) }}
                    </div>

                    <div class="col-md-6 col-sm-12">
                        {{ form_row(form.cedente) }}
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        {{ form_row(form.documentoBanco) }}
                    </div>

                    <div class="col-md-4 col-sm-12">
                        {{ form_row(form.documentoNum) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        {{ form_row(form.categoria) }}
                    </div>

                    <div class="col-md-4 col-sm-12">
                        {{ form_row(form.centroCusto) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        {{ form_row(form.descricao) }}
                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">

                                <div id="divCamposValores" class="card">

                                    <h5 class="card-header">Datas</h5>
                                    <div class="card-body">

                                        <div class="form-group row">
                                            <label class="col-form-label col-sm-4" for="movimentacao_dtMoviment">Dt Moviment</label>
                                            <div class="col-sm-8"> {{ form_widget(form.dtMoviment) }} </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-sm-4" for="movimentacao_dtVencto">Dt Vencto</label>
                                            <div class="col-sm-8"> {{ form_widget(form.dtVencto) }} </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-sm-4" for="movimentacao_dtVenctoEfet">Dt Vencto Efet</label>
                                            <div class="col-sm-8"> {{ form_widget(form.dtVenctoEfetiva) }} </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-sm-4">&nbsp;</label>
                                            <div class="col-sm-8">&nbsp;</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>


                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">

                                <div id="divCamposValores" class="card">

                                    <h5 class="card-header">Valores</h5>
                                    <div class="card-body">

                                        <div class="form-group row">
                                            <label class="col-form-label col-sm-4" for="movimentacao_valor">Valor</label>
                                            <div class="col-sm-8"> {{ form_widget(form.valor) }} </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-sm-4" for="movimentacao_descontos">Descontos</label>
                                            <div class="col-sm-8"> {{ form_widget(form.descontos) }} </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-sm-4" for="movimentacao_descontos">Acréscimos</label>
                                            <div class="col-sm-8"> {{ form_widget(form.acrescimos) }} </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-sm-4" for="movimentacao_valorTotal">Total</label>
                                            <div class="col-sm-8"> {{ form_widget(form.valorTotal) }} </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-12">
                        {{ form_row(form.obs) }}
                    </div>
                </div>

                <div style="margin-top: 20px" class="row">
                    <div class="col-sm-3 ml-auto">
                        <button type="submit" class="btn btn-block btn-primary" value="Salvar">
                            <i class="fas fa-save" aria-hidden="true"></i> Salvar
                        </button>
                    </div>

                    <div class="col-sm-2">
                        <div class="dropdown">
                            <button class="btn btn-block btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-cog" aria-hidden="true"></i> Opções
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{{ url('movimentacao_form_recorrente', {'id': e.id}) }}">Transformar em Recorrente</a>
                            </div>
                        </div>
                    </div>


                </div>

                <div style="display:none">
                    {{ form_widget(form) }}
                </div>


                {{ form_end(form, {'render_rest': false}) }}


            </div>
        </div>
    </div>

{% endblock %}


{% block down_scripts %}
    {{ encore_entry_script_tags('Financeiro/movimentacaoForm_aPagarReceber') }}
{% endblock %}
