{% extends '@CrosierLibBase/index.html.twig' %}

{% block up_scripts %}
    <style>

        .clicker {
            -moz-transition: all .2s ease-in;
            -o-transition: all .2s ease-in;
            -webkit-transition: all .2s ease-in;
            transition: all .2s ease-in;
        }

        .clicker:hover {
            background: #eee;

        }

    </style>

{% endblock %}

{% block page_content %}

    <div class="container-fluid mt-3">
        <div class="row">

            {% for tipoLancto in tiposLanctos %}

                {% set tipoBotao = 'success' %}
                {% if 'Parcelamento' in tipoLancto.descricao %}
                    {% set tipoBotao = 'warning' %}
                {% elseif 'Grupo' in tipoLancto.descricao %}
                    {% set tipoBotao = 'secondary' %}
                {% elseif 'Cheque' in tipoLancto.descricao %}
                    {% set tipoBotao = 'primary' %}
                {% elseif 'Transfe' in tipoLancto.descricao %}
                    {% set tipoBotao = 'danger' %}
                {% endif %}

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card clicker">
                        <div class="card-body p-3 d-flex align-items-center">
                            <div class="p-3 mfe-3">
                                <a class="btn btn-lg btn-{{tipoBotao}}" href="{{ tipoLancto.url }}">
                                    <i class="{{ tipoLancto.icon }}"></i>
                                </a>
                            </div>
                            <div>
                                <div class="h5">
                                    <a href="{{ tipoLancto.url }}">
                                        {{ tipoLancto.descricao }}
                                    </a>
                                </div>
                                <div class="h6 text-muted">
                                    <a href="{{ tipoLancto.url }}">{{ tipoLancto.obs }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}