<div class="tab-pane fade" id="transporte" role="tabpanel" aria-labelledby="transporte-tab">


    {{ form_row(form.transpQtdeVolumes) }}
    {{ form_row(form.transpEspecieVolumes) }}
    {{ form_row(form.transpMarcaVolumes) }}
    {{ form_row(form.transpNumeracaoVolumes) }}
    {{ form_row(form.transpPesoBruto) }}
    {{ form_row(form.transpPesoLiquido) }}
    {{ form_row(form.transpDocumento) }}
    {{ form_row(form.transpNome) }}

</div>
