{% extends '@CrosierLibBase/index.html.twig' %}




{% block page_content %}

    <div class="container" style="margin-bottom: 50px">
        <div class="card">
            <div class="card-header">

                <div class="row">
                    <div class="col-8">
                        <h3>NFe - Resumo</h3>
                    </div>
                    <div class="col-4 text-right">
                        <button type="button" class="btn btn-secondary"
                                onclick="window.location.href='{{ url('nfesFornecedores_list') }}'">
                            <i class="fas fa-sync" aria-hidden="true"></i> Listar
                        </button>
                    </div>
                </div>

            </div>

            <div class="card-body">

                <div class="container" style="margin-bottom: 50px">


                    <div class="row">
                        <div class="col-md-8 col-sm-12">
                            <div class="form-group"><label>Chave</label>
                                <input type="text" readonly="readonly" class="form-control" value="{{ notaFiscal.chaveAcesso }}">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group"><label>Prot Autoriz</label>
                                <input type="text" readonly="readonly" class="form-control" value="{{ notaFiscal.protocoloAutorizacao }}">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group"><label>Emissão</label>
                                <input type="text" readonly="readonly" class="form-control" value="{{ notaFiscal.dtEmissao|date('d/m/Y H:i:s') }}">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group"><label>NSU</label>
                                <input type="text" readonly="readonly" class="form-control" value="{{ notaFiscal.nsu }}">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group"><label>CNPJ Emitente</label>
                                <input type="text" readonly="readonly" class="form-control" value="{{ notaFiscal.documentoEmitente|mascararCnpjCpf }}">
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-12">
                            <div class="form-group"><label>Razão Social</label>
                                <input type="text" readonly="readonly" class="form-control" value="{{ notaFiscal.xNomeEmitente }}">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group"><label>CNPJ Destinatário</label>
                                <input type="text" readonly="readonly" class="form-control" value="{{ notaFiscal.documentoDestinatario|mascararCnpjCpf }}">
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-12">
                            <div class="form-group"><label>Razão Social</label>
                                <input type="text" readonly="readonly" class="form-control" value="{{ notaFiscal.xNomeDestinatario }}">
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col text-right">
                            {% if notaFiscal.manifestDest|default('') == '' %}
                                <button type="button" value="Manifestar 'Ciência'" class="btn btn-primary"
                                        data-url="{{ url('nfesFornecedores_manifestar', {nf: notaFiscal.id, codManifest: '210210'}) }}"
                                        data-target="#confirmationModal" data-toggle="modal">
                                    <i class="fas fa-copy" aria-hidden="true"></i> Manifestar 'Ciência'
                                </button>

                                <button type="button" value="Manifestar 'Desconhecimento da Operação'" class="btn btn-danger"
                                        data-url="{{ url('nfesFornecedores_manifestar', {nf: notaFiscal.id, codManifest: '210220'}) }}"
                                        data-target="#confirmationModal" data-toggle="modal">
                                    <i class="fas fa-question-circle"></i> Manifestar 'Desconhecimento da Operação'
                                </button>
                            {% endif %}

                            {% if '210210' in notaFiscal.manifestDest|default('') %}
                                <button type="button" value="Manifestar 'Confirmação da Operação'" class="btn btn-success"
                                        data-url="{{ url('nfesFornecedores_manifestar', {nf: notaFiscal.id, codManifest: '210200'}) }}"
                                        data-target="#confirmationModal" data-toggle="modal">
                                    <i class="fas fa-copy" aria-hidden="true"></i> Manifestar 'Confirmação da Operação'
                                </button>

                                <button type="button" value="Manifestar 'Operação não Realizada'" class="btn btn-danger"
                                        data-url="{{ url('nfesFornecedores_manifestar', {nf: notaFiscal.id, codManifest: '210240'}) }}"
                                        data-target="#confirmationModal" data-toggle="modal">
                                    <i class="fas fa-window-close"></i> Manifestar 'Operação não Realizada'
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>


{% endblock %}
