<div class="tab-pane fade show active" id="dados" role="tabpanel" aria-labelledby="dados-tab">

    <div class="container" style="margin-bottom: 50px">

        <div class="row">
            <div class="col-md-2 col-sm-12">
                <div class="form-group">
                    {{ form_row(form.id) }}
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    {{ form_row(form.documento) }}
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    {{ form_row(form.nome) }}
                </div>
            </div>
        </div>


        {% if e.id %}

            {% if e.jsonData.tipo_pessoa == 'PF' %}
                <div class="card">
                    <div class="card-header">
                        <strong>Pessoa Física</strong>
                    </div>


                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-8 col-sm-12">
                                <div class="form-group">
                                    {{ form_row(form.jsonData['dt_nascimento']) }}
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-12">
                                <div class="form-group">
                                    {{ form_row(form.jsonData['sexo']) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    {{ form_row(form.jsonData['email']) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    {{ form_row(form.jsonData['fone1']) }}
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    {{ form_row(form.jsonData['fone2']) }}
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            {% else %}

                <div class="card">
                    <div class="card-header">
                        <strong>Pessoa Jurídica</strong>
                    </div>


                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    {{ form_row(form.nomeFantasia) }}
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    {{ form_row(form.inscricaoEstadual) }}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            {% endif %}

            <hr/>


            {% for campo in camposNaAba %}
                {{ form_row(form.jsonData[campo]) }}
            {% endfor %}

        {% endif %}

        <div class="row mt-3">
            <div class="col text-right">
                <button type="submit" class="btn btn-primary" value="Salvar">
                    <i class="fas fa-save" aria-hidden="true"></i> Salvar
                </button>
            </div>
        </div>


    </div>


</div>