{% extends '@CrosierLibBase/index.html.twig' %}




{% block page_content %}

    <div class="container" style="margin-bottom: 50px">
        <div class="card">
            <div class="card-header">

                <div class="row">
                    <div class="col-8">
                        <h3>Pedido de Compra</h3>
                    </div>
                    <div class="col-4 text-right">
                        <button type="button" class="btn btn-primary"
                                onclick="window.location.href='{{ url('est_pedidoCompra_form') }}'">
                            <i class="fas fa-file" aria-hidden="true"></i> Novo
                        </button>
                    </div>
                </div>

            </div>

            <div class="card-body">

                <ul class="nav nav-tabs" id="principal" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="cabecalho-tab" data-toggle="tab" href="#cabecalho"
                           role="tab" aria-controls="home" aria-selected="true">Dados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ e.id ? '' : 'disabled' }}" id="itens-tab" data-toggle="tab" href="#itens"
                           role="tab"
                           aria-controls="profile" aria-selected="false">Itens</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ e.id ? '' : 'disabled' }}" id="prazos-tab" data-toggle="tab"
                           href="#prazos" role="tab"
                           aria-controls="profile" aria-selected="false">Prazos</a>
                    </li>
                </ul>

                <div class="form-group row">
                </div>

                {% form_theme form 'bootstrap_4_layout.html.twig' %}

                {{ form_start(form) }}

                <div class="tab-content" id="myTabContent">

                    {{ include('Estoque/pedidoCompra_form_cabecalho.html.twig') }}
                    {{ include('Estoque/pedidoCompra_form_itens.html.twig') }}
                    {{ include('Estoque/pedidoCompra_form_prazos.html.twig') }}

                </div>

                <div class="row">
                    <div class="col-12">&nbsp;</div>
                </div>

                <div class="row">
                    <div class="col text-right">

                        {% if e.id == null or e.status == 'INICIADO' %}
                            <button type="submit" class="btn btn-primary" value="Salvar">
                                <i class="fas fa-save" aria-hidden="true"></i> Salvar
                            </button>
                        {% endif %}

                    </div>
                </div>
                <div class="row">
                    <div class="col-12">&nbsp;</div>
                </div>

                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>


    </div>


{% endblock %}


{% block down_scripts %}
    <script src="{{ asset('build/Estoque/pedidoCompra_form.js') }}"></script>
{% endblock %}
