<div class="tab-pane fade show active" id="produto" role="tabpanel" aria-labelledby="produto-tab">

    <div class="container" style="margin-bottom: 50px">

        {{ form_row(form.id) }}

        {{ form_row(form.UUID) }}



        {{ form_row(form.nome) }}
        {{ form_row(form.jsonData.titulo) }}

        <hr/>
        {{ form_row(form.depto) }}
        {{ form_row(form.grupo) }}
        {{ form_row(form.subgrupo) }}
        <hr/>
        {{ form_row(form.fornecedor) }}
        {{ form_row(form.jsonData.ean) }}
        {{ form_row(form.jsonData.referencia) }}
        {{ form_row(form.jsonData.cod_fornecedor) }}
        {{ form_row(form.status) }}
        {{ form_row(form.composicao) }}
        <hr/>

        {% for campo in camposNaAba %}
            {{ form_row(form.jsonData[campo]) }}
        {% endfor %}

        <div class="row mt-3">
            <div class="col text-right">
                <button type="submit" class="btn btn-primary" value="Salvar">
                    <i class="fas fa-save" aria-hidden="true"></i> Salvar
                </button>
            </div>
        </div>


    </div>


</div>