<div class="tab-pane fade" id="config" role="tabpanel" aria-labelledby="config-tab">

    {% if e.id %}
        <div class="card">

            <div class="card-body">

                <form action="{{ url('est_produto_formAtributo', {'produto': e.id}) }}" method="post">

                    <input type="hidden" name="produtoAtributo[id]" id="produtoAtributo_id"/>

                    <div class="form-group row">
                        <label class="col-form-label col-sm-2" for="produtoAtributo_atributo">Atributo</label>
                        <div class="col-sm-10">
                            <select id="produtoAtributo_atributo" name="produtoAtributo[atributo]"
                                    data-options="{{ atributosOptions }}"
                                    data-placeholder="Selecione..."
                                    class="form-control autoSelect2"></select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-sm-2" for="produtoAtributo_somaPreench">Peso Preench</label>
                        <div class="col-sm-10">
                            <input type="number" min="0" id="produtoAtributo_somaPreench" name="produtoAtributo[somaPreench]"
                                    class="form-control">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-sm-2" for="produtoAtributo_aba">Aba</label>
                        <div class="col-sm-10">
                            <input type="text" id="produtoAtributo_aba" name="produtoAtributo[aba]"
                                   class="form-control notuppercase"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-sm-2" for="produtoAtributo_grupo">Grupo</label>
                        <div class="col-sm-10">
                            <input type="text" id="produtoAtributo_grupo" name="produtoAtributo[grupo]"
                                   class="form-control notuppercase"/>
                        </div>
                    </div>

                    <div class="form-group row col-12">
                        <div class="ml-auto">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="S" id="produtoAtributo_precif"
                                       name="produtoAtributo[precif]">
                                <label class="form-check-label" for="precif">Precificável</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="S" id="produtoAtributo_quantif"
                                       name="produtoAtributo[quantif]">
                                <label class="form-check-label" for="produtoAtributo_quantif">Quantificável</label>
                            </div>


                            <button type="submit" class="btn btn-primary" value="Salvar">
                                <i class="fas fa-save" aria-hidden="true"></i> Salvar
                            </button>

                        </div>
                    </div>

                </form>

                <div class="table-responsive-sm">
                    <table class="table table-striped table-hover">

                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Atributo</th>
                            <th scope="col">Precif</th>
                            <th scope="col">Quantif</th>
                            <th scope="col">Aba</th>
                            <th scope="col">Grupo</th>
                            <th scope="col">Peso</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>

                        <tbody id="tbodySortableAtributo">
                        {% for produtoAtributo in e.atributos %}
                            <tr data-id="{{ produtoAtributo.id }}">
                                <td id="ordem">{{ produtoAtributo.ordem }}</td>
                                <td>{{ produtoAtributo.atributo.descricao }}</td>
                                <td>{{ produtoAtributo.precif }}</td>
                                <td>{{ produtoAtributo.quantif }}</td>
                                <td>{{ produtoAtributo.aba }}</td>
                                <td>{{ produtoAtributo.grupo }}</td>
                                <td>{{ produtoAtributo.somaPreench }}</td>
                                <td class="text-right">
                                    <button type="button" class="btn btn-sm btn-warning btnAtributoEdit"
                                            data-json="{{ produtoAtributo|serializeEntity }}">
                                        <i class="fa fa-wrench" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger"
                                            data-url="{{ url('est_produtoAtributo_delete', {'produtoAtributo': produtoAtributo.id}) }}"
                                            data-token="{{ csrf_token('delete') }}"
                                            data-target="#confirmationModal" data-toggle="modal">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12 text-right">

                        <button type="button" class="btn btn-secondary"
                                data-url="{{ url('est_produtoAtributo_copiarConfigs', {'produto': e.id}) }}"
                                data-token="{{ csrf_token('delete') }}"
                                data-target="#confirmationModal" data-toggle="modal">
                            <i class="fas fa-copy"></i> Copiar configurações
                        </button>

                        {% if habilitaColarConfigsProduto %}
                            <button type="button" class="btn btn-danger"
                                    data-url="{{ url('est_produtoAtributo_colarConfigs', {'produtoTo': e.id}) }}"
                                    data-target="#confirmationModal" data-toggle="modal">
                                <i class="fas fa-paste"></i> Colar <span
                                        class="badge badge-light">Id: {{ app.session.get('produtoAtributoCopiarConfigsProdutoId') }}</span>
                            </button>
                        {% endif %}

                        {% if habilitaCopiarParaTodosConfigsProduto %}
                            <button type="button" class="btn btn-danger"
                                    data-url="{{ url('est_produtoAtributo_copiarParaTodosConfigs') }}"
                                    data-target="#confirmationModal" data-toggle="modal">
                                <i class="fas fa-exclamation-triangle"></i> Colar para todos! <span
                                        class="badge badge-light">Id: {{ app.session.get('produtoAtributoCopiarConfigsProdutoId') }}</span>
                            </button>
                        {% endif %}

                    </div>
                </div>


            </div>
        </div>
    {% endif %}

</div>
