<div class="tab-pane fade" id="fotos" role="tabpanel" aria-labelledby="fotos-tab">

    {% if e.id %}
    <div class="container" style="margin-bottom: 50px">

        {% for campo in camposNaAba %}
            {{ form_row(form.jsonData[campo]) }}
        {% endfor %}


        <div class="card">

            <div class="card-body">
                <div class="card-title">
                    <h5>Imagens</h5>
                    <hr>
                </div>


                {% form_theme formProdutoImagem 'bootstrap_4_horizontal_layout.html.twig' %}
                {{ form_start(formProdutoImagem) }}

                {{ form_widget(formProdutoImagem) }}

                <div class="row mt-3 mb-3">
                    <div class="col text-right">


                        <button type="submit" class="btn btn-primary" name="btnSalvarFotos" value="Salvar">
                            <i class="fas fa-save" aria-hidden="true"></i> Salvar
                        </button>

                        <button type="button" value="Resetar" class="btn btn-secondary"
                                data-url="{{ url('est_produto_form', {id: e.id}) }}"
                                data-target="#confirmationModal" data-toggle="modal">
                            <i class="fas fa-undo" aria-hidden="true"></i> Recarregar
                        </button>

                    </div>
                </div>

                {{ form_end(formProdutoImagem, {'render_rest': false}) }}

                <div class="row">
                    <div class="col-sm-12 overflow-auto">
                        <ul class="list-group list-group-horizontal" id="ulFotosSortable">
                            {% for imagem in e.imagens %}
                                <li data-id="{{ imagem.id }}"
                                    class="list-group-item {{ imagemId is defined and imagemId == imagem.id ? 'active' : '' }}">

                                    <div>
                                        #<span class="ordem">{{ imagem.ordem }}</span> - {{ imagem.descricao }}

                                        <div style="float: right">
                                            <button type="button" class="btn btn-sm btn-outline-primary btnImagemEdit"
                                                    data-json="{{ imagem|serializeEntity }}">
                                                <i class="fa fa-wrench" aria-hidden="true"></i>
                                            </button>

                                            <button type="button" class="btn btn-sm btn-outline-danger"
                                                    data-url="{{ url('est_produtoImagem_delete', {produtoImagem: imagem.id}) }}"
                                                    data-token="{{ csrf_token('deleteImagem') }}"
                                                    data-target="#confirmationModal" data-toggle="modal">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="pt-3">
                                        <a href="{{ vich_uploader_asset(imagem, 'imageFile') }}"
                                           data-lightbox="imagensDoProduto" data-title="{{ imagem.descricao }}">
                                            <img src="{{ vich_uploader_asset(imagem, 'imageFile') }}"
                                                 alt="{{ imagem.descricao }}" style="border: 1px dashed lightblue"
                                                 width="150px"/>
                                        </a>
                                    </div>

                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>
        </div>


        {% endif %}

    </div>
</div>