{% extends '@CrosierLibBase/index.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('Estoque/produto_form') }}
{% endblock %}


{% block page_content %}

    <div class="container" style="margin-bottom: 50px">
        <div class="card">
            <div class="card-header">

                <div class="row">
                    <div class="col-8">
                        <h3>Produto</h3>
                        {% if e.id %}
                            <a href="{{ url('est_produto_form', {'id':e.id}) }}">
                                <h6>{{ e.id }} - {{ e.titulo|default('') == '' ? e.nome : e.titulo }}</h6>
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-4 text-right">
                        <a role="button" class="btn btn-primary"
                           href="{{ url('est_produto_form') }}">
                            <i class="fas fa-file" aria-hidden="true"></i> Novo
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex">

                        <div class="text-left">
                            <span class="badge badge-pill badge-success">{{ (e.jsonData['porcent_preench']|default(0) * 100)|number_format(0,',','.') }}%</span>
                            {% set faltantes = e.jsonData['porcent_preench_campos_faltantes']|default('')|split('\|') %}
                            {% for faltante in faltantes %}
                                <span class="badge badge-pill badge-warning">{{ faltante }}</span>
                            {% endfor %}
                        </div>
                        <div class="ml-auto text-right">
                            Estoque
                            {% if e.composicao == 'S' %}
                                Disponível: {{ e.composicaoEstoqueDisponivel|default('') }}
                            {% else %}
                                Total: {{ e.jsonData['qtde_estoque_total']|default('') }}
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>

            <div class="card-body">

                <ul class="nav nav-tabs" id="principal" role="tablist">


                    {% for aba, campos in jsonMetadata.abas %}

                        <li class="nav-item">
                            <a class="nav-link {{ loop.index0 == 0 ? 'active' : '' }}"
                               id="{{ aba|lower|transliterate|replace({' ':''}) }}-tab" data-toggle="tab"
                               href="#{{ aba|lower|transliterate|replace({' ':''}) }}"
                               role="tab"
                               aria-controls="{{ aba|lower|transliterate|replace({' ':''}) }}"
                               aria-selected="false">{{ aba }}</a>
                        </li>

                    {% endfor %}

                    {% if e.composicao == 'S' %}
                        <li class="nav-item">
                            <a class="nav-link" id="composicao-tab" data-toggle="tab" href="#composicao" role="tab" aria-controls="composicao"
                               aria-selected="false">Composição</a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ESTOQUE_ECOMMERCE') %}
                        <li class="nav-item">
                            <a class="nav-link" id="ecommerce-tab" data-toggle="tab" href="#ecommerce" role="tab" aria-controls="ecommerce"
                               aria-selected="false">E-Commerce</a>
                        </li>
                    {% endif %}

                </ul>

                <div class="form-group row">
                </div>

                {% form_theme form with [
                    'bootstrap_4_horizontal_layout.html.twig',
                    '@CrosierLibBase/Form/custom_types.html.twig'] %}

                {{ form_start(form, {'attr': {'id': 'produtoForm', 'enctype': 'multipart/form-data'}}) }}

                {{ form_row(form._token) }}


                <div class="tab-content" id="myTabContent">

                    {% for aba,camposNaAba in jsonMetadata.abas %}

                        {# Abas fixas que possuem arquivo próprio #}
                        {% if aba in ['Produto','Fotos','Estoques e Preços'] %}
                            {% include 'Estoque/produto_form_' ~ aba|lower|transliterate|replace({' ':''}) ~ '.html.twig' with {'aba': aba, 'camposNaAba': camposNaAba} %}
                        {% else %}
                            {% include 'Estoque/produto_form_aba.html.twig' with {'aba': aba, 'camposNaAba': camposNaAba} %}
                        {% endif %}

                    {% endfor %}

                    {% if e.composicao == 'S' %}
                        {% include 'Estoque/produto_form_composicao.html.twig' %}
                    {% endif %}

                    {% if is_granted('ROLE_ESTOQUE_ECOMMERCE') %}
                        {% include 'Estoque/produto_form_ecommerce.html.twig' %}
                    {% endif %}

                </div>


                {{ form_end(form, {'render_rest': false}) }}

            </div>
        </div>
    </div>

{% endblock %}


{% block down_scripts %}
    {{ encore_entry_script_tags('Estoque/produto_form') }}
{% endblock %}
