{% extends '@CrosierLibBase/index.html.twig' %}



{% block page_content %}


    <div class="container">
        <div class="card">
            <div class="card-header">

                <div class="row">
                    <div class="col-8">
                        <h3>Romaneio</h3>
                        <h6>Marcação de Mercadorias</h6>
                    </div>
                    <div class="col-4 text-right">
                    </div>
                </div>

            </div>

            <div class="card-body">

                {% form_theme form 'bootstrap_4_layout.html.twig' %}

                {{ form_start(form) }}

                {{ form_row(form._token) }}

                <div class="row">
                    <div class="col-md-2 col-sm-12">
                        {{ form_row(form.id) }}
                    </div>
                    <div class="col-md-8 col-sm-12">
                        {{ form_row(form.fornecedor) }}
                    </div>
                    <div class="col-md-2 col-sm-12">
                        {{ form_row(form.dtEmissao) }}
                    </div>
                </div>

                {{ form_row(form.notaFiscal) }}

                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        {{ form_row(form.dtPrevEntrega) }}
                    </div>
                    <div class="col-md-3 col-sm-12">
                        {{ form_row(form.dtEntrega) }}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {{ form_row(form.prazosPagto) }}
                    </div>
                </div>


                <div class="row mb-3">
                    <div class="col text-right">
                        <button type="submit" class="btn btn-primary" value="Salvar">
                            <i class="fas fa-save" aria-hidden="true"></i> Salvar
                        </button>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header">

                        <div class="row">
                            <div class="col-8">
                                <h5>Itens</h5>
                            </div>
                        </div>

                    </div>

                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-9 col-12">
                                <div class="form-group">
                                    <label for="item_produto">Descrição</label>
                                    <input type="text" id="item_descricao" name="item[descricao]"
                                           class="form-control">
                                </div>
                            </div>


                            <div class="col-md-3 col-12">
                                <div class="form-group">
                                    <label for="item_unidade" class="required">Unidade</label>
                                    <select id="item_unidade" name="item[unidade]"
                                            data-options="{{ unidades }}"
                                            class="form-control autoSelect2">
                                    </select>
                                </div>
                            </div>

                        </div>


                        <div class="row">

                            <div class="col-md-3 col-sm-12">
                                <div class="form-group">
                                    <label for="item_qtde">Qtde</label>
                                    <div class="input-group">
                                        <input type="text" id="item_qtde" name="item[qtde]"
                                               class="crsr-dec3 form-control">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="item_unidade">UN</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-12">
                                <div class="form-group">
                                    <label for="item_precoVenda">Preço Custo</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">R$</span>
                                        </div>
                                        <input type="text" id="item_precoVenda" name="item[precoVenda]"
                                               readonly="readonly" class="crsr-money form-control disabled">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-12">
                                <div class="form-group">
                                    <label for="item_total">Total</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">R$</span>
                                        </div>
                                        <input type="text" id="item_total" name="item[total]"
                                               readonly="readonly" class="crsr-money form-control disabled">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive-sm">
                            <table class="table table-sm table-striped table-hover">

                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Qtde</th>
                                    <th scope="col">Descrição</th>
                                    <th scope="col">Custo</th>
                                    <th scope="col">Total</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for item in e.itens %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td class="text-right">{{ item.qtde|number_format(2,',','.') }}</td>
                                        <td>
                                            <div style="float: left">
                                                {{ item.descricao }}
                                            </div>
                                            <div class="text-right">
                                                {% if item.produto %}
                                                    <span class="badge badge-pill badge-success"><i class="fas fa-check-circle"></i> Marcado</span>
                                                {% else %}
                                                    <span class="badge badge-pill badge-warning"><i class="fas fa-exclamation-circle"></i> Não marcado</span>
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td class="text-right">{{ item.precoCusto|number_format(2,',','.') }}</td>
                                        <td class="text-right">{{ item.total|number_format(2,',','.') }}</td>
                                        <td class="text-right">
                                            {% if e.status != 'FINALIZADO' %}

                                                <button type="button" class="btn btn-sm btn-primary btnEditProduto"
                                                        data-item-id="{{ item.id }}"
                                                        data-item-descricao="{{ item.descricao|default('') }}"
                                                        data-item-unidade="{{ item.produto.jsonData.unidade|default('') }}"
                                                        data-item-qtde="{{ item.qtde|default('') }}"
                                                        data-item-preco-custo="{{ item.precoVenda|default('') }}">
                                                    <i class="fas fa-wrench" aria-hidden="true"></i>
                                                </button>

                                                <a role="button" class="btn btn-sm btn-success"
                                                   title="Marcação de produto"
                                                   href="{{ url('est_romaneio_marcarProdutoForm', {'romaneioItem': item.id}) }}">
                                                    <i class="fas fa-link" aria-hidden="true"></i>
                                                </a>

                                                <button type="button" class="btn btn-sm btn-danger"
                                                        data-url="{{ url('ven_venda_deleteItem', {'item': item.id}) }}"
                                                        data-token="{{ csrf_token('ven_venda_deleteItem') }}"
                                                        data-target="#confirmationModal" data-toggle="modal">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>
                        </div>


                        <div class="row">
                            <div class="col-md-8 col-sm-12">
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-form-label col-sm-4" for="nota_fiscal_subtotal">Valor
                                        Total</label>
                                    <div class="col-sm-8">
                                        {{ form_widget(form.valorTotal) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                {{ form_end(form, {'render_rest': false}) }}


            </div>
        </div>
    </div>





{% endblock %}


{% block down_scripts %}
    {{ encore_entry_script_tags('Estoque/romaneio_form') }}
{% endblock %}